<div class="bg-pinkyWhite py-[50px]">

  <div class="wrapper">

    <div>
      <h4 class="mb-[20px]">{{ blocks_title }}</h4>
      <div>{{ block_subtext }}</div>
    </div>

    <div class="flex flex-wrap gap-x-[20px] gap-y-[20px] mt-[40px]">

      {{ 2_col_blocks }}
      <div class="p-[40px] bg-white text-darkPurple w-full md:w-[calc(50%-20px)]">
        <div class="w-full flex justify-end ">
          {{ partial:components/purpleDownLeftArrow }}
        </div>
        <p class="text-2.4xl mb-[10px] font-bold">{{ title }}</p>
        <p class="text-normal">{{ subtext }}</p>
      </div>
      {{ /2_col_blocks }}
      
    </div>
    
  </div>

</div>