<div class="bg-pinkyWhite py-[50px]">

  <div class="wrapper ">

    <div>
      <h4 class="mb-[20px]">{{ blocks_title }}</h4>
      <p>{{ blocks_subtext }}</p>
    </div>

    <div class="flex flex-wrap gap-x-[20px] gap-y-[20px] mt-[40px]">

      {{ 3_col_blocks }}
      <div class="p-[40px] bg-white text-darkPurple  w-full md:w-[calc(33.33%-20px)] transition">
        
        <div class="w-full flex justify-end ">
          {{ if icon }}
          <img width="52px" height="52px" src="{{ icon }}{{ url }}{{ /icon }}" alt="">
          {{ else }}
          <div class="w-full flex justify-end">
            {{ partial:components/purpleDownLeftArrow }}
          </div>
          {{ /if }}
        </div>

        <p class="text-2.4xl mb-[10px] font-bold">{{ title }}</p>
        <p class="text-normal">{{ text }}</p>
        
      </div>
      {{ /3_col_blocks }}

    </div>
    
  </div>

</div>