<div class="bg-white">
  <div class="wrapper py-[50px] break3:py-[120px] flex flex-col break3:flex-row gap-x-[20px] gap-y-[20px]">
  
    <a href="{{ main_box_link }}" class="w-full break3:w-1/2 bg-seaGreen pt-[60px] pl-[40px] break3:pl-[60px] pr-[40px] break3:pr-[150px] pb-[60px] relative group">
        <h5 class="w-full break3:w-1/2 text-white mb-[20px] transition group-hover:translate-x-2">{{ main_box_title }}</h5>
        <p class="opacity-50 text-white transition group-hover:translate-x-2">{{ main_box_text }}</p>
        <div class="flex justify-end mt-4 md:absolute right-[60px] bottom-[60px] ">{{ partial:components/whiteUpRightArrow }}</div>
    </a>
  
    <div class="h-full w-full break3:w-1/2 flex flex-col gap-y-[20px] gap-x-[20px]">
  
      <div class="flex flex-col md:flex-row gap-x-[20px] gap-y-[20px]">
        <a href="{{ small_box_1_link }}" class="w-full md:w-1/2 bg-darkPurple min-h-[237px] p-[40px] relative group">
            <h6 class="text-white w-full md:w-1/2 transition group-hover:translate-x-2">{{ small_box_1_title }}</h6>
            <div class="absolute right-[60px] bottom-[60px]">{{ partial:components/whiteUpRightArrow }}</div>
        </a>
        <a href="{{ small_box_2_link }}" class="w-full md:w-1/2 bg-darkPurple min-h-[237px] p-[40px] relative group">
            <h6 class="text-white w-full md:w-1/2 transition group-hover:translate-x-2">{{ small_box_2_title }}</h6>
            <div class="absolute right-[60px] bottom-[60px]">{{ partial:components/whiteUpRightArrow }}</div>
        </a>
      </div>
      
  
      <div class="">
        <a href="{{ small_box_3_link }}" class="w-full bg-darkPurple min-h-[237px] p-[40px] relative flex items-center justify-between group">
            <h6 class="text-white w-1/2 transition group-hover:translate-x-2">{{ small_box_3_title }}</h6>
            <span>
              {{ partial:components/whiteUpRightArrow }}
            </span>
        </a>
      </div>
  
    </div>
  
  </div>
</div>