
<div class="flex flex-col md:flex-row flex-wrap justify-between gap-x-[20px] w-full gap-y-[20px] mt-[40px]">
  
{{ contact_blocks }}
<div class="flex flex-col flex-1 md:min-w-[280px] contactBlockCard bg-pinkyWhite p-[40px]">
  
  <div class="w-full flex justify-end mb-[30px]">
    <p class="flex items-center">
      <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.4076 0C1.70244 0 0.315186 1.38726 0.315186 3.09241C0.315186 3.95447 0.786544 4.99567 1.71617 6.1871C2.38013 7.03805 3.03636 7.6534 3.06395 7.67918L3.40756 8L3.75114 7.67918C3.77876 7.6534 4.435 7.03805 5.09895 6.1871C6.02861 4.99567 6.49997 3.95447 6.49997 3.09241C6.50004 1.38729 5.11278 0 3.4076 0ZM3.4076 4.09289C2.85595 4.09289 2.40715 3.64409 2.40715 3.09244C2.40715 2.5408 2.85595 2.09199 3.4076 2.09199C3.95928 2.09199 4.40808 2.5408 4.40808 3.09244C4.40808 3.64409 3.95928 4.09289 3.4076 4.09289Z" fill="#59235F"/>
      </svg>
      <span class="ml-[3px]">{{ location }}</span>
    </p>
  </div>

  <div class="flex flex-col gap-y-[10px]">
    <p class="font-bold">{{ name }}</p>
    <a href="mailto:{{ email }}" target="_blank" class="break-all hover:text-seaGreen transition">{{ email }}</a>
    <a href="tel:{{ phone }}" target="_blank" class="break-all hover:text-seaGreen transition">{{ phone }}</a>
  </div>

</div>
{{ /contact_blocks }}

</div>