

    <!--ACCORDION ITEM-->
    <li class="relative bg-white {{ services_type }} {{ slug }} {{ /services_type }} orgFilter hover:bg-hoverOffWhite transition" x-data="{ open1: false }">

      <button type="button" class="w-full px-8 py-6 text-left group" x-on:click="open1 = ! open1"
        @click.away="open1 = false">
        <div class="flex flex-col sm:flex-row items-center justify-between text-darkestBlue">

          <div class="h-full flex min-h-[130px] items-center justify-center flex-col sm:flex-row">

            {{ if logo }}
            <div class="p-[16px] min-h-[130px] min-w-[130px] h-[130px] w-[130px] sm:mr-[30px] rounded-full border-2 transition flex justify-center items-center border-pinkyWhite bg-white">
              <img src="{{ logo }}{{ url }}{{ /logo }}" alt="">
            </div>
            {{ /if }}

            <div class="flex items-start justify-center flex-col">
              <p class="text-2.4xl font-bold">{{ title }}</p>

              <div class="flex w-full flex-col items-center justify-start md:flex-row">
                
                {{ services_type }}
                <div class="rounded-full min-w-max max-w-min text-2xs mt-[20px] text-darkPurple bg-pinkyWhite py-[8px] px-[15px] mr-[5px]">
                    {{ title }}
                  </div>
                  {{ /services_type }}
                
              </div>
            </div>
            
          </div>

          <!-- ICON-->
          <svg class="transition fill-current text-darkPurple mt-8 sm:mt-0" :class="open1 ? 'rotate-180' : 'rotate-0'" width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)" fill="#83388B"/>
            <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B"/>
            <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B"/>
          </svg>
          <!-- ICON-->
        </div>
      </button>

      <div class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container1"
        x-bind:style="open1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
        
        <div class="pb-[40px] pl-[40px] md:pl-[192px] pr-[40px] faqContent text-darkPurple flex flex-col accordionContent">
          {{if target_group}}
          <div class="font-acumin uppercase font-bold text-xs mb-4">Target Group</div>
            {{target_group}}
          {{/if}}
          {{if referral_source}}
          <div class="mt-10"></div>
          <div class="font-acumin uppercase font-bold text-xs mb-4">Referral Source</div>
            {{referral_source}}
          {{/if}}
          {{if replicator}}
          <div class="mt-10"></div>
          <div class="font-acumin uppercase font-bold text-xs mb-4">Contact detail</div>
          <div class="flex flex-col md:flex-row flex-wrap justify-between gap-x-[20px] w-full gap-y-[20px] ">
            {{ replicator }}
 
              <div class="flex flex-col flex-1 w-full md:w-1/2 contactBlockCard bg-pinkyWhite p-[30px]">
                
                <div class="w-full flex justify-end mb-[30px]">
                  <p class="flex items-center {{ if !location }}opacity-0{{/if}}">
                    
                    <svg width="10" height="10" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.4076 0C1.70244 0 0.315186 1.38726 0.315186 3.09241C0.315186 3.95447 0.786544 4.99567 1.71617 6.1871C2.38013 7.03805 3.03636 7.6534 3.06395 7.67918L3.40756 8L3.75114 7.67918C3.77876 7.6534 4.435 7.03805 5.09895 6.1871C6.02861 4.99567 6.49997 3.95447 6.49997 3.09241C6.50004 1.38729 5.11278 0 3.4076 0ZM3.4076 4.09289C2.85595 4.09289 2.40715 3.64409 2.40715 3.09244C2.40715 2.5408 2.85595 2.09199 3.4076 2.09199C3.95928 2.09199 4.40808 2.5408 4.40808 3.09244C4.40808 3.64409 3.95928 4.09289 3.4076 4.09289Z" fill="#59235F"/>
                    </svg>
                    <span class="ml-[3px] uppercase font-bold text-xs">{{ location }}</span>
                    
                  </p>
                </div>
                
              
                <div class="flex flex-col gap-y-[10px]">
                  {{ if name }}
                  <p class="font-bold">{{ name }}</p>
                  {{/if}}
                  {{ if role }}
                  <p class="">{{ role }}</p>
                  {{/if}}
                  {{ if email }}
                  <a href="mailto:{{ email }}" target="_blank" class="break-all hover:text-seaGreen transition">{{ email }}</a>
                  {{/if}}
                  {{ if phone_number }}
                  <a href="tel:{{ phone_number }}" target="_blank" class="break-all hover:text-seaGreen transition">{{ phone_number }}</a>
                  {{/if}}
                </div>
              
              </div>

            {{ /replicator }}
          </div>
          {{/if}}
          {{ if website }}
          <div class="w-full flex justify-center break3:justify-start mt-[40px]">
            {{ partial:components/buttonWarrow title="Visit Website" url="{{ website }}"}}
          </div>
          {{/if}}
        </div>
      </div>


    </li>
    <!--END OF // ACCORDION ITEM-->
