<button class="px-[30px] min-w-max py-[18px] font-semibold bg-seaGreen  group rounded-full text-1xs transition hover:bg-darkPurple ">
  <a href="{{ url }}" class="text-white transition">{{ title }}</a>
</button>