
  <button class="px-[30px] min-w-max py-[18px] flex items-center font-semibold bg-seaGreen rounded-full text-1xs group hover:bg-darkPurple transition">
    <a href="{{ url }}" class="mr-2 text-white transition group-hover:-translate-x-1">{{ title }}</a>
    <svg class="fill-current transform text-white group-hover:rotate-45 transition" width="12" height="12" viewBox="0 0 23 23" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <rect width="3" height="20" rx="1" transform="matrix(0 1 1 0 3 0)" fill="white" />
    <rect width="3" height="30" rx="1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0.241211 21.3105)"
      fill="white" />
    <rect width="3" height="20" rx="1" transform="matrix(-1 0 0 1 23 0)" fill="white" />
  </svg>
  </button>
