{{ form:contact id="contactForm"}}

<div class="wrapper bg-pinkyWhite py-[50px] break3:py-[100px] flex flex-col break3:flex-row">

 


  <!--LHS-->

    <div class="w-full {{ if personal_contacts }} break3:w-1/2 {{ /if }} flex flex-col gap-y-[20px] ">

      {{ if success }}
        <div class="md:h-[calc(100vh-420px)]  justify-center items-center">
          <h3 class=" text-darkPurple text-center">Thank you for your enquiry. </h3>
          <p> We'll get back to you shortly</p>
        </div>
      {{ /if }}
      {{ if errors }}
      <div class="bg-red-300 text-white p-2">
          {{ errors }}
              {{ value }}<br>
          {{ /errors }}

  {{ /if }}
 

        <div class="w-full flex flex-col gap-y-[20px] contactForm relative">

          <div class="flex flex-col sm:flex-row justify-between gap-x-[20px] gap-y-[20px] text-darkPurple">
            <input class="flex w-full sm:w-1/2 p-[20px]" name="first_name" type="text" placeholder="First name*" required>
            <input class="flex w-full sm:w-1/2 p-[20px]" name="surname" type="text" placeholder="Surname*" required>
          </div>

          <div class="flex flex-col sm:flex-row justify-between gap-x-[20px] gap-y-[20px] text-darkPurple">
            <input class="flex w-full sm:w-1/2 p-[20px]" name="email" type="text" placeholder="Email*" required>
            <input class="flex w-full sm:w-1/2 p-[20px]" name="phone" type="text" placeholder="Phone*" required>
          </div>

          <div class="flex flex-col sm:flex-row justify-between gap-x-[20px] gap-y-[20px] text-darkPurple">
            <input class="flex w-full sm:w-1/2 p-[20px]" name="organisation" type="text" placeholder="Organisation">
            <div class="w-full sm:w-1/2 relative">
              <select name="preferred_contact_method" id="" class="p-[20px] relative contactSelect">
                <option value="Preferred contact method">Preferred contact method</option>
                <option value="Phone">Phone</option>
                <option value="Email">Email</option>
              </select>
              <svg class="absolute right-5 top-1/2 transform -translate-y-1 fill-current text-darkPurple" width="10"
                height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.78033 0.46967C10.0732 0.762563 10.0732 1.23744 9.78033 1.53033L5.78033 5.53033C5.48744 5.82322 5.01256 5.82322 4.71967 5.53033L0.71967 1.53033C0.426777 1.23744 0.426777 0.762563 0.71967 0.46967C1.01256 0.176777 1.48744 0.176777 1.78033 0.46967L5.25 3.93934L8.71967 0.46967C9.01256 0.176777 9.48744 0.176777 9.78033 0.46967Z"
                  fill="#59235F" />
              </svg>
            </div>
          </div>

          <div class="w-full">
            <textarea name="message" id="" rows="10" class="w-full p-[20px] text-darkPurple" placeholder="Message"
              required></textarea>
          </div>
          <!--FORM ERROR MSG-->
        

        
        <!--FORM ERROR MSG-->

          <div class="flex justify-between items-center flex-col md:flex-row">
            <div class="mb-2 md:mb-0">{{ captcha }}</div>

            <button type="submit" class="px-[30px] min-w-max py-[18px] flex items-center font-semibold bg-seaGreen rounded-full text-1xs group hover:bg-darkPurple transition">
              <span class="mr-2 text-white transition group-hover:-translate-x-1">Send Enquiry</span>
              <svg class="fill-current transform text-white group-hover:rotate-45 transition" width="12" height="12" viewBox="0 0 23 23" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <rect width="3" height="20" rx="1" transform="matrix(0 1 1 0 3 0)" fill="white" />
              <rect width="3" height="30" rx="1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0.241211 21.3105)"
                fill="white" />
              <rect width="3" height="20" rx="1" transform="matrix(-1 0 0 1 23 0)" fill="white" />
            </svg>
            </button>

            
          </div>

        </div>
     
    </div>


  {{ if personal_contacts }}
  <!--RHS-->
  <div class="w-full break3:w-1/2 flex flex-col break3:items-end mt-[40px] break3:mt-0">

    <div class="flex flex-col gap-x-[20px] gap-y-[20px]">

      {{ personal_contacts }}
      <!--CONTACT PERSON CARD-->
      <div class="w-full bg-white p-[40px] break3:min-w-[380px]">
        <div class="w-full flex justify-between mb-[30px]">
          
          <div
            style="background-image: url('{{ if image }}{{ image }}{{ url }}{{ /image }}{{ else }}/assets/icons/person.svg{{ /if }}'); background-size:cover; background-repeat:no-repeat; background-position:center;"
            class="w-[80px] h-[80px] rounded-full"></div>
          
          <div class="flex items-start">
            <div class="flex items-center">
              <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.4076 0C1.70244 0 0.315186 1.38726 0.315186 3.09241C0.315186 3.95447 0.786544 4.99567 1.71617 6.1871C2.38013 7.03805 3.03636 7.6534 3.06395 7.67918L3.40756 8L3.75114 7.67918C3.77876 7.6534 4.435 7.03805 5.09895 6.1871C6.02861 4.99567 6.49997 3.95447 6.49997 3.09241C6.50004 1.38729 5.11278 0 3.4076 0ZM3.4076 4.09289C2.85595 4.09289 2.40715 3.64409 2.40715 3.09244C2.40715 2.5408 2.85595 2.09199 3.4076 2.09199C3.95928 2.09199 4.40808 2.5408 4.40808 3.09244C4.40808 3.64409 3.95928 4.09289 3.4076 4.09289Z"
                  fill="#59235F" />
              </svg>
              <span class="ml-[3px] font-bold uppercase text-3xs">{{ location }}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <p class="font-bold mb-[10px]">{{ name }}</p>
          <p class="mb-[10px]">{{ person_title }}</p>
          <p class="mb-[30px]">{{ address }}</p>
          <a href="mailto:{{ email }}" target="_blank" class="text-seaGreen">{{ email }}</a>
        </div>
      </div>
      <!--CONTACT PERSON CARD-->
      {{ /personal_contacts}}


    </div>

  </div>
  {{ /if }}

</div>
{{ captcha }}

        {{ if error:captcha }}
          <p>{{ error:captcha }}</p>
        {{ /if }}
{{ /form:contact }}


