<div class="bg-white">
  <div class="wrapper py-[50px] md:py-[100px] flex items-stretch flex-col md:flex-row">

    <div class="flex flex-col justify-between">
      <a href="/" class="flex flex-col items-center justify-between md:items-start">
        
        {{ company_details:company_logo }}
        <img src="{{ url }}" class="max-w-[196px]" alt="">
        {{ /company_details:company_logo }}

        <div class="flex flex-col sm:flex-row mt-[20px] md:mt-[10px] justify-center md:justify-start">
          <span class="min-w-max mr-1 text-2xs ">&copy; {{ company_details:company_name }} | </span>
          <div class="min-w-max mr-1 text-2xs flex justify-center md:justify-start">Website by
            <a href="https://reflex-studios.com" class="min-w-max hover:text-pink-500 transition text-2xs ml-1">Reflex
              Studios</a>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full flex flex-col pl-4 mt-8 md:mt-0 items-end justify-between">
      <div class="flex flex-col w-full items-center justify-center md:justify-end md:flex-row gap-x-[40px]">

        <div class="">
          {{ nav:small_nav }}
          <a href="{{ url }}" class="border-b-2 pb-[10px] {{ if is_current || is_parent }}border-seaGreen text-seaGreen{{ else }}link-underline border-transparent{{ /if }}">{{ title }}</a>
          {{ if !last }}
          <span>|</span>
          {{ /if }}
          {{ /nav:small_nav }}

        </div>

        <div class="">
          <div class="flex justify-end mt-4 md:mt-0 gap-x-[15px] items-center">
            <a href="{{ company_details:facebook }}" target="_blank">
              <img src="/assets/icons/facebook.svg" alt="">
            </a>
            <a href="{{ company_details:youtube }}" target="_blank">
              <img src="/assets/icons/youtube.svg" alt="">
            </a>
            <a href="{{ company_details:twitter }}" target="_blank">
              <img src="/assets/icons/twitter.svg" alt="">
            </a>
          </div>
        </div>

      </div>

      <div class="flex w-full flex-wrap justify-center md:justify-end gap-x-[30px] gap-y-[10px] mt-4 2xl:mt-0">
        {{ nav:main_nav }}
        <a href="{{ url }}" class="font-semibold min-w-max hover:text-seaGreen transition text-darkPurple">{{ title }}</a>
        {{ /nav:main_nav }}
      </div>

    </div>

  </div>
</div>