{{ general_content }}
{{ if type == "text" }}
<div class=" flex justify-center items-center">
  <div class="max-w-[900px] px-[40px] flex my-[100px] flex-col gap-y-[30px] leading-thirtyfive newsContent ">
    {{ text }}
  </div>
</div>
{{ elseif type == "large_hero_banner" }}
  {{ partial:components/largeHeroBanner }}
{{ elseif type == "smaller_hero_banner" }}
  {{ partial:components/smallerHeroBanner }}
{{ elseif type == "multi_cta" }}
  {{ partial:components/CTA_area }}
{{ elseif type == "latest_news" }}
  {{ partial:components/latestNews }}
{{ elseif type == "large_cta" }}
  {{ partial:components/largeCTA }}
{{ elseif type == "2_col_blocks" }}
  {{ partial:components/2ColBlocks }}
{{ elseif type == "3_col_blocks" }}
  {{ partial:components/3ColBlocks }}
{{ elseif type == "smaller_cta" }}
  {{ partial:components/smallerCTA }}
{{ elseif type == "organisations" }}
  {{ partial:components/organisationsIndex }}
{{ elseif type == "text_and_image" }}
  {{ partial:components/textAndImage }}
{{ elseif type == "contact_blocks" }}
  {{ partial:components/contactBlock }}
{{ elseif type == "news" }}
  {{ partial:components/newsIndex }}
{{ elseif type == "courses" }}
  {{ partial:components/trainingBlocks }}
{{ /if }}
{{ /general_content }}