<div class="bg-white">

  <div class="wrapper flex flex-col break4:flex-row py-[50px] break4:py-[100px]">
    <div class="w-full break4:w-8/12">
      <h1 class="text-center break4:text-left">{{ main_text }}</h1>
    </div>
    <div class="flex flex-col flex-1 justify-end">

      <div class="break4:text-right break4:pl-20 mt-[40px] break4:mt-0">
        <p>{{ subtext }}</p>
      </div>

      <div class="hidden break4:flex justify-end mt-[60px] animate-bounce">
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)"
            fill="#83388B" />
          <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B" />
          <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B" />
        </svg>
      </div>
    </div>
  </div>

  {{ if image }}
  <div
    style="background-image: url({{ image }}{{ url }}{{ /image }}); background-size:cover; background-repeat:no-repeat; background-position:center;"
    class="h-[340px] md:h-[680px]">
    {{ /if }}

  </div>
</div>