<div class="bg-darkPurple">
  <div class="wrapper py-[80px] md:py-[168px] flex flex-col md:flex-row">

    <div class="w-full md:w-1/2 flex flex-col items-center md:items-start text-center md:text-left">
      <h3 class="text-white md:pr-32">{{ main_text }}</h3>
      <a href="{{ link }}" class="flex md:justify-start mt-[40px] mb-[40px] md:mb-0 group w-max">
        <p class="text-white min-w-max ">{{ link_text }}</p>
        <span class="ml-4">{{ partial:components/whiteUpRightArrow }}</span>
      </a>
    </div>

    <div class="w-full md:w-1/2 flex justify-center md:pl-12 mt-12 md:mt-0">
      <ul class="text-white flex flex-col gap-y-[50px]">

        {{ points }}
        <li class="text-white flex items-center">
          {{ if logo }}
            <img src="{{ logo }}{{ url }}{{ /logo }}" width="50px" height="50px" alt="">
          {{ /if }}
            <div class="ml-4">
              <h6 class=" text-white mb-[10px]">{{ title }}</h6>
              <p class="text-white text-normal opacity-50">{{ text }}</p>
            </div>
        </li>
        {{ /points }}

      </ul>
    </div>

  </div>
</div>