<div class="bg-pinkyWhite py-[20px] md:py-[40px]">
  <div class="wrapper">

    <div class="flex flex-wrap items-stretch justify-between w-full gap-y-[40px] gap-x-[40px]">

      {{ collection:news limit="3"}}
      <!--NEWS CARD-->
      {{ partial:components/newsCard }}
      <!--END OF // NEWS CARD-->
      {{ /collection:news }}

      <div class="flex justify-end w-full">
        {{ partial:components/buttonWarrow title="View All" url="/news"}}
      </div>
  
    </div>
 
  </div>
</div>
