<div
  class="h-[120px] bg-white border-b border-pinkyWhite px-[40px] py-[20px] flex justify-between items-center text-darkPurple">

  <!--LHS-->
  <a href="/" class="">
    {{ company_details:company_logo }}
    <img src="{{ url }}" width="244px" height="62px" alt="" class="min-w-[244px]">
    {{ /company_details:company_logo }}
  </a>

  <!--DESKTOP NAV-->
  <div class=" w-full items-center justify-between hidden break2:flex">

    <!--MIDDLE-->
    <div class="flex flex-1 justify-center font-semibold">
      <ul class="flex gap-x-[20px] break1:gap-x-[40px] text-1xs break1:text-normal">

        {{ nav:main_nav }}
        <li class="min-w-max">
          <a href="{{ url }}"
            class="border-b-2 pb-[10px] 
          {{ if is_current || is_parent }} text-seaGreen border-transparent {{ else }} link-underline border-transparent {{ /if }}">
            {{ title }}
          </a>
        </li>
        {{ /nav:main_nav }}

      </ul>
    </div>

    <!--RHS-->
    <div class="flex items-center ml-4">

      <div class="flex mr-[20px] mt-[10px]">
        {{ nav:small_nav }}

        {{ if !title | contains:contact }}
        <a href="{{ url }}"
          class="hover:text-seaGreen transition pb-[10px] {{ if is_current || is_parent }}text-seaGreen{{ else }}text-darkPurple{{ /if }}">{{
          title }}</a>
        {{ if first }}
        <span> | </span>
        {{ /if }}
        {{ /if }}

        {{ /nav:small_nav }}

      </div>





      <div x-data="{ isOpen: false }" class="relative">

        <button
          class="rounded-full bg-pinkyWhite min-w-[51px] w-[51px] h-[51px] flex justify-center items-center mr-[10px] group hover:bg-darkPurple transition"
          @click="isOpen = !isOpen" @keydown.escape="isOpen = false">

          <svg class="fill-current text-darkPurple group-hover:text-white text-transition" width="21" height="22"
            viewBox="0 0 21 22" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16.2381 6.55882C16.2381 3.39016 13.6682 0.820312 10.4996 0.820312C7.33094 0.820312 4.76109 3.39016 4.76109 6.55882C4.76109 9.72747 7.33094 12.2973 10.4996 12.2973C13.6682 12.2973 16.2381 9.72747 16.2381 6.55882ZM6.25809 6.55882C6.25809 4.21351 8.15429 2.31731 10.4996 2.31731C12.8449 2.31731 14.7411 4.21351 14.7411 6.55882C14.7411 8.90412 12.8449 10.8003 10.4996 10.8003C8.15429 10.8003 6.25809 8.90412 6.25809 6.55882Z" />
            <path
              d="M0.893829 21.0797C1.01858 21.1546 1.14333 21.1795 1.26808 21.1795C1.51758 21.1795 1.79203 21.0548 1.91678 20.8053C3.66328 17.7115 6.95668 15.7903 10.4996 15.7903C14.0425 15.7903 17.3359 17.7115 19.1073 20.8053C19.3069 21.1546 19.781 21.2793 20.1303 21.0797C20.4796 20.8801 20.6043 20.4061 20.4047 20.0568C18.3838 16.5139 14.5914 14.2933 10.4996 14.2933C6.40778 14.2933 2.61538 16.5139 0.594429 20.0568C0.394828 20.4061 0.519579 20.8801 0.893829 21.0797Z" />
            <path
              d="M16.2381 6.55882C16.2381 3.39016 13.6682 0.820312 10.4996 0.820312C7.33094 0.820312 4.76109 3.39016 4.76109 6.55882C4.76109 9.72747 7.33094 12.2973 10.4996 12.2973C13.6682 12.2973 16.2381 9.72747 16.2381 6.55882ZM6.25809 6.55882C6.25809 4.21351 8.15429 2.31731 10.4996 2.31731C12.8449 2.31731 14.7411 4.21351 14.7411 6.55882C14.7411 8.90412 12.8449 10.8003 10.4996 10.8003C8.15429 10.8003 6.25809 8.90412 6.25809 6.55882Z"
              stroke="#59235F" stroke-width="0.5" />
            <path
              d="M0.893829 21.0797C1.01858 21.1546 1.14333 21.1795 1.26808 21.1795C1.51758 21.1795 1.79203 21.0548 1.91678 20.8053C3.66328 17.7115 6.95668 15.7903 10.4996 15.7903C14.0425 15.7903 17.3359 17.7115 19.1073 20.8053C19.3069 21.1546 19.781 21.2793 20.1303 21.0797C20.4796 20.8801 20.6043 20.4061 20.4047 20.0568C18.3838 16.5139 14.5914 14.2933 10.4996 14.2933C6.40778 14.2933 2.61538 16.5139 0.594429 20.0568C0.394828 20.4061 0.519579 20.8801 0.893829 21.0797Z"
              stroke="#59235F" stroke-width="0.5" />
          </svg>


        </button>

        <ul x-show="isOpen" @click.away="isOpen = false"
          class="absolute -translate-x-1/2 left-1/2 top-[60px] bg-white drop-shadow-xl p-[20px] min-w-[240px] {{ if logged_out }}flex flex-col-reverse{{ /if }}">
          <li class="mb-2 group">
            <a href="{{ if logged_in }}/housing-support-training{{ else }}/register{{ /if }}"
              class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
              <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                  fill="#59235F" />
                <path
                  d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                  fill="#59235F" />
              </svg>
              
              <span class="mr-2 transform transition group-hover:translate-x-2">{{ if logged_in }}Training Courses{{ else }}Register{{ /if }}</span>
            </a>
          </li>
          <li class="mb-2 group">
            
            <a href="{{ if logged_out }}/login {{ else }}{{ user:logout_url }}{{ /if }}"
              class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
              <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                  fill="#59235F" />
                <path
                  d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                  fill="#59235F" />
              </svg>
              <span class="mr-2 transform transition group-hover:translate-x-2">
                {{ if logged_out }}Login{{ else }}Logout{{ /if }}
              </span>
            </a>

          </li>

      
        </ul>

      </div>

      {{ partial:components/button title="Get in touch" url="/contact"}}

    </div>
  </div>
  <!--END OF // DESKTOP NAV-->


  <!--MOBILE NAV-->
  <div class=" flex justify-end items-center break2:hidden " x-data="{navigationOpen: false}">
    <div class="overflow-hidden flex justify-end items-center text-primary container">

      <div class="flex justify-end items-center">

        <div
          class="flex lg:py-0 fixed w-full left-0 top-0 bottom-0 overflow-x-auto bg-white z-30 transform transition-all duration-300 origin-top-left"
          @click.away="navigationOpen = false" x-show="navigationOpen" x-transition:enter-start="opacity-0 lg:scale-75"
          x-transition:enter-end="opacity-100 lg:scale-100" x-transition:leave-start="opacity-100 lg:scale-100"
          x-transition:leave-end="opacity-0 lg:scale-75">
          <div class="flex flex-col gap-y-12 text-primary px-[40px] mt-[28px] pb-20 w-full overflow-auto">
            <a href="/" class="">
              {{ company_details:company_logo }}
              <img src="{{ url }}" width="244px" height="62px" alt="" class="min-w-[244px]">
              {{ /company_details:company_logo }}
            </a>
            <ul class="flex flex-col items-start text-left gap-y-8 font-bold text-xl font-lexia ">

              {{ nav:main_nav }}
              <li class="group">
                <a href="{{ url }}" class="group-hover:text-seaGreen transition">{{ title }}</a>
              </li>
              {{ /nav:main_nav }}

              <li>
                <a class="group-hover:text-seaGreen transition" href="{{ if logged_out }}/login {{ else }}{{ user:logout_url }}{{ /if }}">
                  {{ if logged_out }}Login{{ else }}Logout{{ /if }}
              </a>
              </li>


              {{ if logged_out }}
              <li>
                <a class="group-hover:text-seaGreen transition" href="/register">
                   Register
                </a>
              </li>
              {{/if}}
              

              {{ nav:small_nav }}
              {{ if !title | contains:contact }}
              <li class="group">
                <a href="{{ url }}" class="group-hover:text-seaGreen font-acumin font-medium text-lg transition">{{ title }}</a>
              </li>
              {{ /if }}
              {{ /nav:small_nav }}



            </ul>


            <div class="flex items-start justify-start">
              
              {{ partial:components/button title="Get in touch" url="/contact"}}
            </div>

          </div>

          <!--MOBILE MENU CLOSE BUTTON-->
          <button class="flex absolute right-0 z-50 focus:outline-none" @click="navigationOpen = !navigationOpen">
            <svg class="transform hover:rotate-90 transition" width="100" height="100" viewBox="0 0 48 48" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M18 29.2941L28.6667 18L29.3333 18.7059L18.6667 30L18 29.2941Z" fill="#59235F" />
              <path d="M18.6667 18.7059L19.3333 18L30 29.2941L29.3333 30L18.6667 18.7059Z" fill="#59235F" />
            </svg>
          </button>
          <!--MOBILE MENU CLOSE BUTTON-->


        </div>

        <!--MOBILE MENU BUTTON-->
        <button class="flex focus:outline-none group top-[35px] right-[35px] absolute" @click="navigationOpen = !navigationOpen">
          <svg viewBox="0 0 100 80" width="30" height="30"
            class="fill-current text-darkPurple group-hover:text-seaGreen transition">
            <rect width="100" height="10"></rect>
            <rect y="30" width="100" height="10"></rect>
            <rect y="60" width="100" height="10"></rect>
          </svg>
        </button>
        <!--END OF // MOBILE MENU BUTTON-->

      </div>
    </div>
  </div>
  <!--END OF // MOBILE NAV-->


</div>