
<div class="px-[0] break2:px-[300px] pb-[50px] break3:pb-[100px] bg-white flex flex-col gap-y-[40px] items-center">

  <div class="flex flex-col gap-y-[40px] pt-[50px] break3:pt-[100px] items-center bg-pinkyWhite {{ if !image }}w-screen{{ /if }}">
    
    <div class="flex gap-x-[10px]">
      <div class="bg-darkPurple/[0.1] text-darkPurple px-[15px] py-[8px] rounded-full flex items-center max-w-max text-2xs">
          {{ date format="j M Y" }}
        </div>
      <div class="bg-darkPurple/[0.1] text-darkPurple px-[15px] py-[8px] rounded-full flex items-center max-w-max text-2xs">
          {{ news_type }}
            {{ title | ucfirst }}
          {{ /news_type }}
        </div>
    </div>

    <div class="w-full break3:w-5/12 px-[40px] break3:px-[0px]">
      <p class="text-center text-3xl break3:text-6xl text-darkPurple font-bold  leading-thirtyfive break3:leading-sixtyfive">{{ title }}</p>
    </div>

    <div class="flex items-center {{ if !image }}pb-[50px]{{ /if }}">
      <div class="rounded-full border-2 w-[40px] h-[40px] p-[6px] mr-2 bg-white overflow-hidden">
        <img src="/assets/logos/miniLogo.png" alt="" class="object-contain w-full h-full">
      </div>
      <span class="text-2xs">By {{ author }}</span>
    </div>

    {{ if image }}
    <div class="w-screen h-[200px] break3:h-[480px] relative flex flex-col items-center">
      <div class="w-screen h-1/2 bg-pinkyWhite"></div>
      <div class="w-screen h-1/2 bg-white"></div>
      <div class="w-screen break3:w-[1500px] border border-red-500 h-[240px] break3:h-[580px] bg-anotherPurple absolute top-0">
        <div
          style="background-image: url('{{ image }}{{ url }}{{ /image }}'); background-size:cover; background-repeat:no-repeat; background-position:center;"
          class="w-full h-full mix-blend-multiply grayscale"></div>
      </div>
    </div>
    {{ /if }}

  </div>

  <div class="px-[40px] break3:px-[100px] mt-[100px] flex flex-col gap-y-[40px] leading-thirtyfive newsContent ">

    {{ content }}
    {{ if type == "text" }}
      {{ text }}
    {{ elseif type == "blockquote" }}
      <blockquote class="pt-[80px] break3:pt-[40px] pl-[40px] pb-[40px] pr-[40px] break3:pr-[112px] text-darkPurple bg-pinkyWhite flex flex-col gap-y-[10px] relative font-bold leading-thirtyfive">
        {{ blockquote_content }}
        <img src="/assets/icons/quotes.svg" alt="" style="width:auto;" class="absolute top-[20px] break3:top-[40px] right-[40px]">
      </blockquote>
      {{ elseif type == "button" }}
        <div class="flex justify-center break3:justify-start">{{ partial:components/buttonWarrow title="{{ button_text }}" url="{{ button_link }}"}}</div>
      {{ /if }}
    {{ /content }}

  </div>
  
</div>

<div class=" wrapper pt-[50px] md:pt-[100px]">
  <h4>Latest news & Events</h4>
  <p class="my-[20px]">We think you might be interested in these similar articles</p>
</div>


{{ partial:components/latestNews }}

