
<div class="wrapper py-[50px] break3:py-[100px]">


  <div class="flex flex-wrap justify-center break3:justify-start gap-x-[10px] gap-y-[10px] mb-[40px]">

    
    <a href="/news" id="showAll" class="rounded-full  min-w-max max-w-max px-[18px] py-[8px] break3:px-[30px] break3:py-[12px] hover:bg-darkPurple/[0.1] bg-darkPurple border-2 border-transparent hover:border-darkPurple group transition text-white">
      Show All
    </a>

    {{ taxonomy:news_type }}
    <a href="/news{{ url }}" id="{{ title }}" class="newsType rounded-full bg-darkPurple/[0.1] min-w-max max-w-max px-[20px] py-[10px] break3:px-[30px] break3:py-[12px] hover:bg-darkPurple/[0.1] border-2 border-transparent hover:border-darkPurple group transition text-darkPurple newsButtons">
      <p>{{ title | ucfirst}}</p>
    </a>
    {{ /taxonomy:news_type }}

  </div>

  <div class="flex flex-wrap items-stretch justify-between w-full gap-x-[40px] gap-y-[40px] ">

    {{ collection:news paginate="12" as="news"}}
      {{ news }}
      {{ partial:components/newsCard }}
      {{ /news }}
    {{ /collection:news }}



  </div>

  
  <!--PAGINATION CONTROLS -->
  {{ collection:news paginate="12" as="news"}}
  {{ paginate }}
  <div class=" flex justify-end gap-x-[10px] my-[40px]">

    {{ links:segments }}
 
            {{ first }}
                {{ if page == current_page }}
                    <li class="list-none rounded-full bg-darkPurple transition border-2 border-transparent hover:border-darkPurple group w-[50px] h-[50px] flex items-center justify-center">
                      <span class="text-white">{{ page }}</span>
                    </li>
                {{ else }}
                    <li class=" cursor-pointer list-none rounded-full bg-darkPurple/[0.1] hover:bg-white transition border-2 border-transparent hover:border-darkPurple group">
                      <a class="text-darkPurple w-[50px] h-[50px] flex justify-center items-center rounded-full" href="{{ url }}">{{ page }}</a>
                    </li>
                {{ /if }}
            {{ /first }}



            {{ last }}
                {{ if page == current_page }}
                <li class="list-none rounded-full bg-darkPurple hover:bg-white transition border-2 border-transparent hover:border-darkPurple group w-[50px] h-[50px]">
                  <span>{{ page }}</span>
                </li>
            {{ else }}
                <li class="list-none rounded-full bg-darkPurple/[0.1] hover:bg-white transition border-2 border-transparent hover:border-darkPurple group w-[50px] h-[50px]">
                  <a class="" href="{{ url }}">{{ page }}</a>
                </li>
                {{ /if }}
            {{ /last }}
 
        {{ /links:segments }}


    
    <!--PREVIOUS BUTTON-->
    {{ if prev_page }}
    <a href="{{ prev_page }}" class="rounded-full bg-white border-2 border-transparent hover:border-darkPurple transition w-[50px] h-[50px] flex items-center justify-center">
      <svg class="fill-current text-darkPurple transform rotate-90" width="20" height="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)" fill="#83388B"/>
        <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B"/>
        <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B"/>
        </svg>    
    </a>
    {{ /if }}
    <!--PREVIOUS BUTTON-->

    
    <!--NEXT BUTTON-->
    {{ if next_page }}
    <a href="{{ next_page }}" class="rounded-full bg-white border-2 border-transparent hover:border-darkPurple transition w-[50px] h-[50px] flex items-center justify-center">
      <svg class="fill-current text-darkPurple transform -rotate-90" width="20" height="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)" fill="#83388B"/>
        <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B"/>
        <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B"/>
        </svg>        
    </a>
    {{ /if }}
    <!--NEXT BUTTON-->

    

  </div>
  {{ /paginate }}
  {{ /collection:news }}
  <!--END OF // PAGINATION CONTROLS-->


</div>



<script>

//This was filtering the news options

  /*$('.newsType').click(function(){

    let selectedValue = ($(this).attr('id'));
    
    $(".newsFilter").siblings().addClass("hidden").removeClass('block');
    $("." + selectedValue ).addClass("block").removeClass('hidden');

    $("#" + selectedValue ).siblings().addClass('bg-darkPurple/[0.1] text-darkPurple').removeClass('text-white bg-darkPurple/[1]');
    $("#" + selectedValue ).removeClass('bg-darkPurple/[0.1] text-darkPurple').addClass('text-white bg-darkPurple/[1]');


});

$('#showAll').click(function(){
  $(".newsFilter" ).removeClass('hidden');
  $(".newsButtons" ).removeClass('text-white bg-darkPurple/[1]').addClass('bg-darkPurple/[0.1]');
  $(this).addClass('text-white bg-darkPurple/[1]');
});*/



</script>


