<a href="{{ url }}"
  class="min-w-[240px] break3:min-h-[459px] w-full break3:w-0 break3:newsCard break3:min-w-[340px] flex flex-col items-stretch relative group bg-white hover:bg-darkPurple transition justify-between flex-1 {{ news_type }} {{ title | slugify }} {{ /news_type }} newsFilter">


  {{ if image }}
  <div class="w-full h-[280px] bg-anotherPurple">
    <div
      style="background-image: url('{{ image }}{{ url }}{{ /image }}'); background-size:cover; background-repeat:no-repeat; background-position:center;"
      class="w-full h-full mix-blend-multiply grayscale opacity-100 group-hover:opacity-30 transition "></div>
  </div>
  {{ else }}
  <div class="w-full h-20 "></div>
  {{ /if }}


  <div class="bg-white p-[30px] h-20 flex-1 flex flex-col justify-end group-hover:bg-darkPurple transition ">
    <small class="mb-[10px] group-hover:text-white transition">{{ date format="j M Y" }}</small>
    <p class="text-2.4xl leading-thirty font-bold group-hover:text-white transition">{{ title }}</p>
    <div class="flex items-center mt-[20px] ">
      <div
        class="rounded-full border-2 w-[40px] h-[40px] p-[6px] mr-2 border-pinkyWhite overflow-hidden group-hover:bg-white transition">
        <img src="/assets/logos/miniLogo.png" alt="" class="object-contain w-full h-full">
      </div>
      <span class="text-2xs group-hover:text-white transition">By {{ author }}</span>
    </div>
  </div>


  {{ news_type }}
  <div
    class="bg-pinkyWhite px-[15px] py-[8px] rounded-full right-[10px] top-[10px] flex items-center absolute text-2xs">
    {{ title | ucfirst }}
  </div>
  {{ /news_type }}



</a>