
<div class="wrapper py-[100px]">

  {{# <div class="flex justify-end mb-[40px]">
    <div class="pr-6 bg-white rounded">
      <select id="clientGroup" class="pt-[20px] pl-[20px] pb-[20px] pr-[80px] text-darkPurple focus:outline-none rounded">
        <option value="showAll">Filter by client group</option>

        {{ taxonomy:services_type }}
        <option value="{{ slug }}">{{ title }}</option>
        {{ /taxonomy:services_type }}

      </select>
    </div>
  </div> #}}

  <ul class="flex flex-col gap-y-[20px]">
    
    {{ nav:collection:organisations}}
      {{ partial:components/accordionItem }} 
    {{ /nav:collection:organisations }}

  </ul>
</div>

<script>
  $('#clientGroup').change(function(){

    let selectedValue = ($(this).find(':selected').val());

    $(".orgFilter" ).addClass('hidden');
    $("." + selectedValue ).removeClass("hidden").addClass('block');

    if (selectedValue == "showAll") {
      $(".orgFilter").removeClass('hidden');
    }

});
</script>

