<div class="bg-white">

  {{ if image }}
  <div
    style="background-image: url('{{ image }}{{ url }}{{ /image }}'); background-repeat: no-repeat; background-size: cover; background-position: center"
    class="h-[240px] break3:h-[480px]">
  </div>
    {{ /if }}

  <div class="wrapper flex flex-col break3:flex-row py-[50px] break3:py-[100px]">

    <div class="w-full mb-[40px] break3:w-7/12 break3:mb-0">
      <h2 class="text-center break3:text-left">{{ main_text }}</h2>
      <div class="mt-[40px] leading-thirtyfive text-center text-2xl break3:text-left">{{ subtext_left }}</div>
    </div>

    <div class="flex flex-col flex-1 justify-end">
      <div class="text-center break3:text-right break3:pl-24">
        <p class="text-2xs">{{ subtext_right }}</p>
      </div>
      <div class="hidden break3:flex justify-end mt-[60px] animate-bounce">
        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)"
            fill="#83388B" />
          <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B" />
          <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B" />
        </svg>
      </div>
    </div>

  </div>
</div>