<div class="relative h-[480px] break3:h-[580px] flex ">

  <div class="flex flex-col break3:flex-row">

    <div class="absolute z-50 h-[480px] break3:h-[580px] py-[80px] break3:py-[168px] wrapper w-full break3:w-11/12 bg-gradient-to-r from-darkPurple via-darkPurple">
      <h3 class="text-white text-center w-full break3:w-5/12 break3:text-left">{{ main_text }}</h3>
      <div class="text-center smallerCTA break3:text-left opacity-60 w-full break3:w-6/12 mt-[20px] leading-twentyeight">
        {{ if subtext }}
        {{ subtext }}
        {{ else }}
        <p class="leading-twentyeight">Our Housing Support Training Course helps equip the general public, private and social landlords as well as frontline workers to better understand the signs and help prevent homelessness.</p>
        {{ /if }}
        
      </div>
    </div>

    <div class="absolute z-50 right-1/2 transform translate-x-[42%] break3:translate-x-0 break3:right-0 flex items-end pb-12 break3:items-center wrapper h-[480px] break3:h-[580px]">
      <button class="px-[30px] min-w-max py-[18px] flex items-center font-semibold bg-seaGreen rounded-full text-1xs group">
        <a href="{{ button_link }}" class="mr-2 text-white">{{ button_text }}</a>
        <svg class="fill-current transform text-white group-hover:rotate-45 transition" width="18" height="18" viewBox="0 0 23 23" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="20" rx="1" transform="matrix(0 1 1 0 3 0)" fill="white" />
        <rect width="2" height="30" rx="1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0.241211 21.3105)"
          fill="white" />
        <rect width="2" height="20" rx="1" transform="matrix(-1 0 0 1 23 0)" fill="white" />
      </svg>
      </button>
    </div>
    
  </div>

  <div class="w-full flex h-[480px] break3:h-[580px] bg-darkPurple absolute">
    <div class="h-[480px] break3:h-[580px] w-5/12"></div>
    <div
      style="background-image: url('{{ image }}{{ url }}{{ /image }}'); background-size:cover; background-repeat:no-repeat; background-position:center;"
      class="flex flex-1 h-[480px] break3:h-[580px] mix-blend-multiply grayscale"></div>
  </div>
  
  
</div>