{{ if details }}

    <script>
        var sum = [
            {{ nav:collection:courses :from="chapter"  }}
            {{ if depth == 1 }}
            {{ if lesson_length }}
            {{lesson_length }},
            {{/if}}
        {{ /if }}
        {{ /nav:collection:courses }}0
        ].reduce((partialSum, a) => partialSum + a, 0);
        document.write(sum);
    </script>
{{else}}
    <script>
        var sum = [
        {{ nav:collection:courses :from="uri"  }}
            {{ if depth == 1 }}
                {{ *recursive children* }}
            {{ elseif depth == 2 }}
                {{ if lesson_length }}
                {{lesson_length }},
                {{/if}}
            {{ /if }}
        {{ /nav:collection:courses }}0
        ].reduce((partialSum, a) => partialSum + a, 0);
        document.write(sum);
    </script>
{{/if}}
    
