<div class="wrapper py-[50px] md:pt-[100px] md:pb-[50px] flex flex-col break4:flex-row 
{{ if flip_image_and_text }}
break4:flex-row-reverse
{{ /if }}
">

  <div class="w-full break4:w-1/2 flex flex-col gap-y-[40px] textAndImageContent">

    {{ text_and_image_content }}
    {{ if type == "text" }}
    {{ text }}
    {{ elseif type == 'blockquote'}}
    {{ partial:components/textAndImageBlockquote }}
    {{ elseif type == 'button' }}
    <div class="w-full flex justify-center md:justify-start">
      {{ partial:components/buttonWarrow title="{{ button_text }}" url="{{ button_link }}" }}
    </div>
    {{ /if }}
    {{ /text_and_image_content }}


  </div>

  <div class="w-full break4:w-1/2 mt-14 break4:mt-0 flex justify-center 
  {{ if flip_image_and_text }}
  break4:justify-start break4:pr-4
  {{ else }}
  break4:justify-end break4:pl-4
  {{ /if }}
  ">
    <div class="w-[280px] h-[336px] break2:w-[364px] break2:h-[424px] bg-white origin-center-left 
    {{ if flip_image_and_text }}
      md:origin-top-right 
      rotate-neg10
    {{ else }}
      rotate-10 
      md:origin-top-left 
    {{ /if }}
    pl-[20px] pt-[20px] pr-[20px]">
      <div
        style="background-image: url('{{ image }}{{ url }}{{ /image }}'); background-repeat: no-repeat; background-position:center; background-size: cover;"
        class="h-4/6"></div>
    </div>
  </div>

</div>