<blockquote class="pt-[40px] pl-[40px] pb-[40px] pr-[112px] text-darkPurple bg-white flex flex-col gap-y-[10px] relative font-bold">
  {{ content }}
  <cite class="text-2xs font-normal">{{ quote_by }}</cite>
  <img src="/assets/icons/quotes.svg" alt="" class="absolute top-[40px] right-[40px]">
</blockquote>