<div class="wrapper py-[50px] break3:py-[100px]">

  <div class="flex flex-wrap items-stretch justify-between w-full gap-x-[20px] gap-y-[20px]">

    <!--FULL WIDTH COURSE-->
    {{ nav:collection:courses }}
      {{ if depth == 1 }}

        <div
          class="{{ if index > 0 }}flex flex-col min-w-[298px] md:min-w-[340px] items-stretch w-full md:w-[calc(33%-20px)] flex-1 justify-center  {{ else }} flex flex-col md:flex-row w-full {{ /if }}">

          {{ if course_image }}
          <div class="w-full md:w-1/2 min-h-[200px] bg-anotherPurple">
            <div
              style="background-image: url('{{ course_image }}{{ url }}{{ /course_image }}'); background-size:cover; background-repeat:no-repeat; background-position:center;"
              class="w-full h-full mix-blend-multiply grayscale" class="h-full"></div>
          </div>
          {{ /if }}

          <div
            class="{{ if index > 0 }} bg-white flex flex-col h-full justify-between  flex-1 items-start p-[30px] relative {{ else }} w-full md:w-1/2 bg-white flex flex-col items-start p-[30px]  {{ /if }}">

            <div class="flex flex-col justify-between items-center h-full w-full">

              <div class="flex flex-col items-center break3:items-start w-full">

                <div id="totalCourseMinsWrapper" class="flex items-center">
                  <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_238_1354)">
                      <path
                        d="M7 14.5C10.8593 14.5 14 11.3593 14 7.5C14 3.64067 10.8594 0.5 7 0.5C3.14063 0.5 0 3.64067 0 7.5C0 11.3593 3.14067 14.5 7 14.5ZM7 1.43332C10.346 1.43332 13.0667 4.15398 13.0667 7.5C13.0667 10.846 10.346 13.5667 7 13.5667C3.65398 13.5667 0.933318 10.846 0.933318 7.5C0.933318 4.15398 3.65401 1.43332 7 1.43332Z"
                        fill="#59235F" />
                      <path
                        d="M9.04165 9.73071C9.128 9.8007 9.23063 9.83339 9.33331 9.83339C9.47098 9.83339 9.60631 9.77272 9.69729 9.65839C9.8583 9.45772 9.82561 9.16372 9.62497 9.00271L7.46664 7.27604V3.76671C7.46664 3.51004 7.25665 3.30005 6.99998 3.30005C6.74331 3.30005 6.53333 3.51004 6.53333 3.76671V7.50006C6.53333 7.6424 6.59867 7.77539 6.70832 7.86404L9.04165 9.73071Z"
                        fill="#59235F" />
                    </g>
                    <defs>
                      <clipPath id="clip0_238_1354">
                        <rect width="14" height="14" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>

                  <small id="totalCourseMins" class="ml-2">{{ partial:components/subcourses}}</small>
                  <small class=""> Minutes</small>
                </div>
                <p class="text-2.4xl font-bold text-center md:text-left">{{ title }}</p>
                <div class="flex items-center mt-[20px] ">
                  <div
                    class="rounded-full border-2 min-w-[40px] min-h-[40px] w-[40px] h-[40px] p-[6px] mr-2 border-pinkyWhite overflow-hidden">
                    <img src="/assets/logos/miniLogo.png" alt="" class="object-contain w-full h-full">
                  </div>
                  <span class="text-2xs">By Homelessness Prevention Forum</span>
                </div>
              </div>

            </div>

            <div class="mt-[30px] flex items-center flex-row justify-center md:justify-start w-full">
              <a href="{{ url }}"
                class="px-[30px] min-w-max max-w-min py-[18px] font-semibold bg-pinkyWhite  hover:bg-darkPurple group rounded-full text-1xs transition mr-1 sm:mr-2">
                <span class="text-darkPurple group-hover:text-white transition">Course Details</span>
              </a>
              <div class="max-w-min min-w-max ml-1 sm:ml-1 ">
                <a href="/courses/{{ slug }}/start" class="px-[30px] min-w-max py-[18px] font-semibold bg-seaGreen  group rounded-full text-1xs text-white transition hover:bg-darkPurple ">
                  Start Course</a>
                </a>   
              </div>
            </div>


          </div>

        </div>
      {{ /if }}

    {{ /nav:collection:courses }}
    <!--END OF // FULL WIDTH COURSE-->



  </div>

</div>