<div class="w-full h-screen relative">

  <!--NAV-->
  <div class="fixed bg-darkPurple md:bg-transparent flex justify-between border-b border-opacity-30 w-full top-0 p-[20px] right-0 z-50" x-data="{ isOpen: false}">


    <a href="/">
      <img width="212px" src="/assets/logos/allWhitelogo.png" alt="">
    </a>


    <button id="trainingNavBtn" class="flex transition  rounded-full w-[50px] h-[50px]"
      @click="isOpen = !isOpen">
      <div
        class="trainingNavOpenIcon flex flex-col justify-center items-center gap-y-[6px] rounded-full w-[50px] h-[50px] hover:gap-y-[10px] transition" :class="isOpen ? 'hidden' : 'flex'">
        <div class="w-[20px] h-[2px] bg-white transition rounded-full"></div>
        <div class="w-[10px] h-[2px] bg-white transition rounded-full"></div>
        <div class="w-[20px] h-[2px] bg-white transition rounded-full"></div>
      </div>
      
      <div
        class="trainingNavCloseIcon  flex-col justify-center items-center gap-y-[12px] rounded-full w-[50px] h-[50px]" :class="isOpen ? 'flex' : 'hidden'">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="20" height="2" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 8.63604 22.7782)"
            fill="white" />
          <rect width="2" height="20" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 21.364 22.7782)"
            fill="white" />
        </svg>
      </div>
  
      <!--DROP DOWN MENU-->
      <ul x-show="isOpen"
        class="absolute top-[80px] right-[20px] font-normal bg-white shadow overflow-hidden rounded p-[20px] z-20 min-w-max"
        @click.away="isOpen = false">
        <li class="mb-2 group">
          <a href="/"
            class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
            <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
              viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                fill="#59235F" />
              <path
                d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                fill="#59235F" />
              <path
                d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                fill="#59235F" />
              <path
                d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                fill="#59235F" />
            </svg>
            
            <span class="mr-2 transform transition group-hover:translate-x-2">Visit Website</span>
          </a>
        </li>
        <li class="mb-2 group min-w-[200px]">
          <a href="{{ if logged_out }}/login {{ else }}{{ user:logout_url }}{{ /if }}"
              class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
              <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                  fill="#59235F" />
                <path
                  d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                  fill="#59235F" />
              </svg>
              <span class="mr-2 transform transition group-hover:translate-x-2">
                {{ if logged_out }}Login{{ else }}Logout{{ /if }}
              </span>
            </a>
        </li>
  
      </ul>
      <!--END OF // DROP DOWN MENU-->
  
    </button>
  
  
  
  </div>
  <!--END OF // NAV-->





    <!--BG IMAGE-->
      <div id="imageWrapper" class="w-full absolute flex md:h-sceen bg-anotherPurple top-0 left-0">
        <div id="image"
          style="background-image: url('/assets/placeholders/bgImage.png'); background-size:cover; background-repeat:no-repeat; background-position:center;"
          class="flex absolute z-20 flex-1 md:h-screen w-full mix-blend-multiply grayscale opacity-[.67]">
        </div>
        <div id="bgGradient" style="height: 100vh;" class="w-full bg-gradient z-10 flex h-sceen absolute top-0 left-0"></div>
      </div>
    
      
      
    <!--CONTENT-->
    <div id="content" class="absolute z-40 w-full py-[50px] md:py-0 md:h-screen wrapper flex gap-y-[40px] justify-center flex-col md:flex-row">
    
      
      <!--LHS-->
      <div class="w-full md:w-1/2 md:h-screen flex gap-y-[40px] flex-col justify-center items-center md:items-start mt-[200px] sm:mt-0">
    

        <div class="flex items-center opacity-50">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_238_1354)">
              <path
                d="M7 14.5C10.8593 14.5 14 11.3593 14 7.5C14 3.64067 10.8594 0.5 7 0.5C3.14063 0.5 0 3.64067 0 7.5C0 11.3593 3.14067 14.5 7 14.5ZM7 1.43332C10.346 1.43332 13.0667 4.15398 13.0667 7.5C13.0667 10.846 10.346 13.5667 7 13.5667C3.65398 13.5667 0.933318 10.846 0.933318 7.5C0.933318 4.15398 3.65401 1.43332 7 1.43332Z"
                fill="#FFF" />
              <path
                d="M9.04165 9.73071C9.128 9.8007 9.23063 9.83339 9.33331 9.83339C9.47098 9.83339 9.60631 9.77272 9.69729 9.65839C9.8583 9.45772 9.82561 9.16372 9.62497 9.00271L7.46664 7.27604V3.76671C7.46664 3.51004 7.25665 3.30005 6.99998 3.30005C6.74331 3.30005 6.53333 3.51004 6.53333 3.76671V7.50006C6.53333 7.6424 6.59867 7.77539 6.70832 7.86404L9.04165 9.73071Z"
                fill="#FFF" />
            </g>
            <defs>
              <clipPath id="clip0_238_1354">
                <rect width="14" height="14" fill="white" transform="translate(0 0.5)" />
              </clipPath>
            </defs>
          </svg>
          <small class="ml-2 text-white">45</small>
          <small class="text-white"> Minute Course</small>
        </div>


        <h1 class="text-white text-center md:text-left">Housing Support Training Course</h1>

        <p class="text-white leading-twentyeight text-normal text-center md:text-left">This course helps equip the general public, private and social landlords as well as frontline workers to better understand the signs and help prevent homelessness. Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
      <!--RHS-->
      <div class="w-full md:w-1/2 md:h-screen flex gap-y-[20px] flex-col justify-center items-center md:items-end">

        <p class="text-white text-center md:text-right md:w-1/2 my-[30px] leading-twentyeight text-normal">This course helps equip the general public, private and social landlords as well as frontline workers to better understand the signs and help prevent homelessness.</p>
    
        {{ if logged_out }}
        <a href="/register"
            class="px-[50px] py-[28px] min-w-[312px] border transition group rounded-full flex items-center justify-between">
            <span class="min-w-max text-white transform group-hover:translate-x-2 transition">Register</span>
            <svg class="min-w-[22px] h-[22px] transform -rotate-45 group-hover:rotate-0 transition"
              viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                fill="#FFF" />
              <path
                d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                fill="#FFF" />
              <path
                d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                fill="#FFF" />
              <path
                d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                fill="#FFF" />
            </svg>
          </a>
        <a href="/login"
            class="px-[50px] py-[28px] min-w-[312px] border transition group rounded-full flex items-center justify-between">
            <span class="min-w-max text-white transform group-hover:translate-x-2 transition">Login</span>
            <svg class="min-w-[22px] h-[22px] transform -rotate-45 group-hover:rotate-0 transition"
              viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                fill="#FFF" />
              <path
                d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                fill="#FFF" />
              <path
                d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                fill="#FFF" />
              <path
                d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                fill="#FFF" />
            </svg>
          </a>
        <a href="/"
            class="px-[50px] py-[28px] min-w-[312px] border transition group rounded-full flex items-center justify-between startbutton">
            <span class="min-w-max text-white transform group-hover:translate-x-2 transition">Continue Anonymously</span>
            <svg class="min-w-[22px] h-[22px] transform -rotate-45 group-hover:rotate-0 transition"
              viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                fill="#FFF" />
              <path
                d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                fill="#FFF" />
              <path
                d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                fill="#FFF" />
              <path
                d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                fill="#FFF" />
            </svg>
          </a>
        {{ /if }}

        {{ if logged_in }}
        <!--HREF BEING SET BELOW IN JS-->
        <a href="/"
            class="px-[50px] py-[28px] min-w-[312px] border transition group rounded-full flex items-center justify-between bg-white startbutton">
            <span class="min-w-max  transform group-hover:translate-x-2 transition text-darkPurple">Get Started</span>
            <svg class="min-w-[22px] h-[22px] transform -rotate-45 group-hover:rotate-0 transition"
              viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                fill="#59235F" />
              <path
                d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                fill="#59235F" />
              <path
                d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                fill="#59235F" />
              <path
                d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                fill="#59235F" />
            </svg>
          </a>
          {{ /if }}
      </div>

    </div>




</div>



<script>
  var contentHeight = document.getElementById('content').scrollHeight;
  var image = document.getElementById('image');
  var imageWrapper = document.getElementById('imageWrapper');
  var bgGradient = document.getElementById('bgGradient');

  window.onload = function() {
    image.style.height = contentHeight + "px";
    imageWrapper.style.height = contentHeight + "px";
    bgGradient.style.height = contentHeight + "px";
  } 

  
var ary = [{{ nav:collection:courses :from="course_uri" limit="1"  }}
{{ if depth == 1 }}
    {{ if children}}
    {{ *recursive children* }}
    {{ /if }}
{{ elseif depth == 2 }}
    {{ *recursive children* }}
{{ elseif depth == 3 }}
    '{{url}}',
{{ /if }}
{{ /nav:collection:courses }},''];

var getStarted = document.querySelectorAll('.startbutton'); 
getStarted.forEach(function(getStarted){
  getStarted.href = ary[0]
});

console.log("TEST - ", ary[0]);


</script>