<div class="bg-white">

  <div class="wrapper flex flex-col break3:flex-row py-[50px] break3:py-[100px]">

    <div class="w-full break3:w-9/12 text-center break3:text-left">


      <div class="flex items-center mb-[20px]">
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_238_1354)">
            <path
              d="M7 14.5C10.8593 14.5 14 11.3593 14 7.5C14 3.64067 10.8594 0.5 7 0.5C3.14063 0.5 0 3.64067 0 7.5C0 11.3593 3.14067 14.5 7 14.5ZM7 1.43332C10.346 1.43332 13.0667 4.15398 13.0667 7.5C13.0667 10.846 10.346 13.5667 7 13.5667C3.65398 13.5667 0.933318 10.846 0.933318 7.5C0.933318 4.15398 3.65401 1.43332 7 1.43332Z"
              fill="#59235F" />
            <path
              d="M9.04165 9.73071C9.128 9.8007 9.23063 9.83339 9.33331 9.83339C9.47098 9.83339 9.60631 9.77272 9.69729 9.65839C9.8583 9.45772 9.82561 9.16372 9.62497 9.00271L7.46664 7.27604V3.76671C7.46664 3.51004 7.25665 3.30005 6.99998 3.30005C6.74331 3.30005 6.53333 3.51004 6.53333 3.76671V7.50006C6.53333 7.6424 6.59867 7.77539 6.70832 7.86404L9.04165 9.73071Z"
              fill="#59235F" />
          </g>
          <defs>
            <clipPath id="clip0_238_1354">
              <rect width="14" height="14" fill="white" transform="translate(0 0.5)" />
            </clipPath>
          </defs>
        </svg>
        <small id="totalCourseMins" class="ml-2">{{ partial:components/subcourses}}</small>
        <small> Minutes</small>
      </div>


      <h2>{{ title }}</h2>
      <div class="flex flex-col break3:flex-row items-center mt-[20px]">
        <div class="rounded-full border-2 w-[40px] h-[40px] p-[6px] mr-2 border-pinkyWhite overflow-hidden">
          <img src="/assets/logos/miniLogo.png" alt="" class="object-contain w-full h-full">
        </div>
        <span class="text-2xs mt-4 break3:mt-0">By Homelessness Prevention Forum</span>
      </div>
      <div class="mt-[40px] break3:w-10/12">{{ course_description }}</div>
    </div>

    <div class="flex flex-col flex-1 items-center break3:items-end justify-center mt-4 break3:mt-0">
      <div class="flex justify-end">
        <div class="max-w-min min-w-max mt-4 sm:mt-0 ">
          <a href="/courses/{{ title | slugify }}/start" class="px-[30px] min-w-max py-[18px] font-semibold bg-seaGreen  group rounded-full text-1xs text-white transition hover:bg-darkPurple ">
            Start Course</a>
          </a>   
        </div>
      </div>
    </div>

  </div>
</div>

<!--OFFSET IMAGE-->
{{ if course_image }}
<div class="w-screen h-[200px] break3:h-[393px] relative flex flex-col items-center">
  <div class="w-screen h-1/2 bg-white"></div>
  <div class="w-screen h-1/2 bg-pinkyWhite"></div>
  <div class="w-screen w-full lg:w-[85vw] h-[200px] break3:h-[393px] bg-anotherPurple absolute top-0">
    <div
      style="background-image: url('{{ course_image }}{{ url }}{{ /course_image }}'); background-size:cover; background-repeat:no-repeat; background-position:center;"
      class="w-full h-full mix-blend-multiply grayscale"></div>
  </div>
</div>
{{ /if }}
<!--END OF // OFFSET IMAGE-->


<div class="wrapper py-[50px] break3:py-[100px]">
  <h4>Course Contents</h4>

  <div class="mt-[40px] break3:mt-[40px] flex flex-col gap-y-[10px]">


    {{ nav:collection:courses :from="uri"}}

    <!--COURSE ITEM-->
    <li class="relative bg-white list-none w-full lg:w-3/5 chapters" x-data="{ open1: false }">
      <button type="button" class="w-full px-8 py-6 text-left" x-on:click="open1 = ! open1" @click.away="open1 = false">
        <div class="flex items-center justify-between">

          <div class="h-full flex">

            <div class="flex items-start justify-center flex-col">
              <p class="text-normal font-bold chapterTitle">{{ title }}</p>
            </div>

          </div>

          <div id="chapterLengthWrapper-{{ index }}" class="flex items-center justify-end flex-1 mr-[30px]">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_238_1354)">
                <path
                  d="M7 14.5C10.8593 14.5 14 11.3593 14 7.5C14 3.64067 10.8594 0.5 7 0.5C3.14063 0.5 0 3.64067 0 7.5C0 11.3593 3.14067 14.5 7 14.5ZM7 1.43332C10.346 1.43332 13.0667 4.15398 13.0667 7.5C13.0667 10.846 10.346 13.5667 7 13.5667C3.65398 13.5667 0.933318 10.846 0.933318 7.5C0.933318 4.15398 3.65401 1.43332 7 1.43332Z"
                  fill="#59235F" />
                <path
                  d="M9.04165 9.73071C9.128 9.8007 9.23063 9.83339 9.33331 9.83339C9.47098 9.83339 9.60631 9.77272 9.69729 9.65839C9.8583 9.45772 9.82561 9.16372 9.62497 9.00271L7.46664 7.27604V3.76671C7.46664 3.51004 7.25665 3.30005 6.99998 3.30005C6.74331 3.30005 6.53333 3.51004 6.53333 3.76671V7.50006C6.53333 7.6424 6.59867 7.77539 6.70832 7.86404L9.04165 9.73071Z"
                  fill="#59235F" />
              </g>
              <defs>
                <clipPath id="clip0_238_1354">
                  <rect width="14" height="14" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
            <span class="text-1xs ml-1">
              <span id="chapterLength-{{ index }}">
                {{ partial:components/subcourses details="true" chapter="{{uri}}"}}
              </span>
              Minutes</span>
          </div>

          <!-- ICON-->
          <svg class="transition fill-current text-darkPurple" :class="open1 ? 'rotate-180' : 'rotate-0'" width="10"
            height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.78033 0.46967C10.0732 0.762563 10.0732 1.23744 9.78033 1.53033L5.78033 5.53033C5.48744 5.82322 5.01256 5.82322 4.71967 5.53033L0.71967 1.53033C0.426777 1.23744 0.426777 0.762563 0.71967 0.46967C1.01256 0.176777 1.48744 0.176777 1.78033 0.46967L5.25 3.93934L8.71967 0.46967C9.01256 0.176777 9.48744 0.176777 9.78033 0.46967Z"
              fill="#59235F" />
          </svg>
          <!-- ICON-->

        </div>
      </button>

      <div class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container1"
        x-bind:style="open1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">

        <div class="pb-[40px] px-8  text-darkPurple lessons">
          {{ if children }}
          <ul>
            {{ children }}
            <li class="md:px-4 py-4 mb-2 flex flex-col sm:flex-row hover:bg-pinkyWhite items-start sm:items-stretch rounded">
              <div>{{ title }} </div>
              {{ if lesson_length }}
              <div class="flex items-center justify-end flex-1 ">
                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_238_1354)">
                    <path
                      d="M7 14.5C10.8593 14.5 14 11.3593 14 7.5C14 3.64067 10.8594 0.5 7 0.5C3.14063 0.5 0 3.64067 0 7.5C0 11.3593 3.14067 14.5 7 14.5ZM7 1.43332C10.346 1.43332 13.0667 4.15398 13.0667 7.5C13.0667 10.846 10.346 13.5667 7 13.5667C3.65398 13.5667 0.933318 10.846 0.933318 7.5C0.933318 4.15398 3.65401 1.43332 7 1.43332Z"
                      fill="#59235F" />
                    <path
                      d="M9.04165 9.73071C9.128 9.8007 9.23063 9.83339 9.33331 9.83339C9.47098 9.83339 9.60631 9.77272 9.69729 9.65839C9.8583 9.45772 9.82561 9.16372 9.62497 9.00271L7.46664 7.27604V3.76671C7.46664 3.51004 7.25665 3.30005 6.99998 3.30005C6.74331 3.30005 6.53333 3.51004 6.53333 3.76671V7.50006C6.53333 7.6424 6.59867 7.77539 6.70832 7.86404L9.04165 9.73071Z"
                      fill="#59235F" />
                  </g>
                  <defs>
                    <clipPath id="clip0_238_1354">
                      <rect width="14" height="14" fill="white" transform="translate(0 0.5)" />
                    </clipPath>
                  </defs>
                </svg>
                <div class="text-2xs ml-1">
                  <span id="chapterLength-{{ index }}">
                    {{lesson_length}}
                  </span>
                  Minutes
                </div>
              </div>
              {{ /if }}
            </li>
            {{ /children }}
          </ul>
          {{ /if }}
        </div>
      </div>
    </li>
    <!--END OF // COURSE ITEM-->

    {{ /nav:collection:courses }}


  </div>

  <div class="flex justify-end mt-[40px] w-full lg:w-3/5">
    <div class="max-w-min min-w-max mt-4 sm:mt-0 ">
      <a href="/courses/{{ title | slugify }}/start" class="px-[30px] min-w-max py-[18px] font-semibold bg-seaGreen  group rounded-full text-1xs text-white transition hover:bg-darkPurple ">
        Start Course</a>
      </a>   
    </div>
  </div>

</div>
