<svg class="fill-current transform text-white group-hover:rotate-45 transition" width="23" height="23" viewBox="0 0 23 23" fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <rect width="2" height="20" rx="1" transform="matrix(0 1 1 0 3 0)" fill="white" />
  <rect width="2" height="30" rx="1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0.241211 21.3105)"
    fill="white" />
  <rect width="2" height="20" rx="1" transform="matrix(-1 0 0 1 23 0)" fill="white" />
</svg>