{{ partial:components/nav }}
<div class="bg-white py-[100px] border-b">
  <div class="wrapper">
    <h2>Forgotten <br> Password?</h2>

    <!--REGISTER FORM-->

    {{ user:forgot_password_form reset_url="/reset-password" }}

 


    <div class="w-full sm:w-[360px]">
      <div class="flex flex-col justify-between gap-x-[20px] gap-y-[20px] text-darkPurple  mt-[60px]">

        {{ if errors }}
        <div class="text-red-500">
          {{ errors }}
          {{ value }}<br>
          {{ /errors }}
        </div>
        {{ /if }}

        {{ if success }}
        <div class="text-seaGreen">
          {{ success }}<br>
        </div>
        {{ /if }}
        
        
        <input class="bg-pinkyWhite flex w-full p-[20px]" name="email" type="text" placeholder="Email" value="{{ old:email }}" required>
        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">


      </div>
      <div class="flex justify-end items-center mt-[20px]">
        <button type="submit"
          class="px-[30px] min-w-max py-[18px] font-semibold bg-darkPurple  group rounded-full text-1xs transition hover:bg-seaGreen text-white">Send Reset Email
        </button>
      </div>
    </div>

    {{ /user:forgot_password_form }}


  </div>
</div>


{{ partial:components/footer }}


<script>
  const togglePassword = document.querySelector("#togglePassword");
  const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
  const password = document.querySelector("#password");
  const confirmPassword = document.querySelector("#confirmPassword");

  togglePassword.addEventListener("click", function () {

    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    this.classList.toggle("fa-eye-slash");
  });

  toggleConfirmPassword.addEventListener("click", function () {

    const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
    confirmPassword.setAttribute("type", type);

    this.classList.toggle("fa-eye-slash");
  });


</script>