{{ partial:components/nav }}
<div class="bg-white py-[100px] border-b">
  <div class="wrapper">
    <h2>Login</h2>


    
    {{ user:login_form }}

    

    {{ if success }}
    <div class="bg-green-300 text-white p-2">
      {{ success }}<br>
    </div>
    {{ /if }}

    <div class="w-full sm:w-[360px]">
      <div class="flex flex-col justify-between gap-x-[20px] gap-y-[20px] text-darkPurple  mt-[60px]">
        <input class="bg-pinkyWhite flex w-full p-[20px]" name="email" type="text" placeholder="Email" required>
        <div class="relative">
          <input id="password" class="bg-pinkyWhite flex w-full p-[20px]" name="password" type="password" placeholder="Password" required value="{{ old:password }}">
          <i id="togglePassword" class="fas fa-eye absolute top-1/2 transform -translate-y-1/2 right-4 cursor-pointer"></i>
          <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
        </div>

        {{ if errors }}
        <div class="text-red-500">
          {{ errors }}
          Please check your username and password and try again.<br>
          {{ /errors }}
        </div>
        {{ /if }}
        
      </div>
      <div class="flex justify-between items-center mt-[20px]">
        <a href="/forgot-password">Forgot Password?</a>
        <button class="px-[30px] min-w-max py-[18px] font-semibold bg-darkPurple  group rounded-full text-1xs transition hover:bg-seaGreen text-white">
          Login
        </button>
      </div>
    </div>


    {{ /user:login_form }}


  </div>
</div>
{{ partial:components/footer }}


<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#password");

  togglePassword.addEventListener("click", function () {

      const type = password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);
      
      this.classList.toggle("fa-eye-slash");
  });


</script>