{{ partial:components/nav }}
<div class="bg-white py-[100px] border-b">
  <div class="wrapper">
    <h2>Register</h2>

    <!--REGISTER FORM-->

    {{ user:register_form redirect="/registered"}}

    {{ if errors }}
    <div class="bg-red-300 text-white p-2">
      {{ errors }}
      {{ value }}<br>
      {{ /errors }}
    </div>
    {{ /if }}

    {{ if success }}
    <div class="bg-green-300 text-white p-2">
      {{ success }}<br>
    </div>
    {{ /if }}

    <div class="w-full sm:w-[360px]">
      <div class="flex flex-col justify-between gap-x-[20px] gap-y-[20px] text-darkPurple  mt-[60px]">
        <input class="bg-pinkyWhite flex w-full p-[20px]" name="first_name" type="text" placeholder="First Name" required value="{{ old:first_name }}">
        <input class="bg-pinkyWhite flex w-full p-[20px]" name="surname" type="text" placeholder="Surname Name" required value="{{ old:surname }}">
        <input class="bg-pinkyWhite flex w-full p-[20px]" name="email" type="text" placeholder="Email" value="{{ old:email }}" required>

          <select name="sector" class="bg-pinkyWhite flex w-full p-[20px]" required>
              <option value="" hidden >Select Sector:</option>
              {{sectors:sector}}
              <option value="{{sector_title}}" >{{sector_title}}</option>
              {{/sectors:sector}}
          </select>
    
        <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
        <div class="relative">
          <input id="password" class="bg-pinkyWhite flex w-full p-[20px]" name="password" type="password"
            placeholder="Password" required>
          <i id="togglePassword" class="fas fa-eye absolute top-1/2 transform -translate-y-1/2 right-4 cursor-pointer"></i>
        </div>
        <div class="relative">
          <input id="confirmPassword" class="bg-pinkyWhite flex w-full p-[20px]" name="password_confirmation" type="password"
            placeholder="Confirm Password" required>
          <i id="toggleConfirmPassword" class="fas fa-eye absolute top-1/2 transform -translate-y-1/2 right-4 cursor-pointer"></i>
        </div>

      </div>
      <div class="flex justify-end items-center mt-[20px]">
        <button
          class="px-[30px] min-w-max py-[18px] font-semibold bg-darkPurple  group rounded-full text-1xs transition hover:bg-seaGreen text-white">Register
        </button>
      </div>
    </div>
    {{ /user:register_form }}


  </div>
</div>


{{ partial:components/footer }}


<script>
  const togglePassword = document.querySelector("#togglePassword");
  const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
  const password = document.querySelector("#password");
  const confirmPassword = document.querySelector("#confirmPassword");

  togglePassword.addEventListener("click", function () {

    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    this.classList.toggle("fa-eye-slash");
  });

  toggleConfirmPassword.addEventListener("click", function () {

    const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
    confirmPassword.setAttribute("type", type);

    this.classList.toggle("fa-eye-slash");
  });


</script>