{{ partial:components/nav }}
<div class="bg-white py-[100px] border-b">
  <div class="wrapper">
    <h2>Thank you, {{ user }}{{ first_name }}{{ /user }}!</h2>

    <p class="mt-8">You're now registered with the Homeless Prevention Forum. Why not take one of out courses below:</p>


  </div>
</div>


{{ partial:components/trainingBlocks }}

{{ partial:components/footer }}


