{{ partial:components/nav }}
<div class="bg-white py-[100px] border-b">
  <div class="wrapper">
    <h2>Reset <br> Password</h2>

    <!--REGISTER FORM-->

    {{ user:reset_password_form }}



    <div class="w-full sm:w-[360px]">
      <div class="flex flex-col justify-between gap-x-[20px] gap-y-[20px] text-darkPurple  mt-[60px]">

        {{ if success }}

        <p class="text-seaGreen">Password has been reset.</p>
  
        {{ elseif url_invalid }}
  
        <p class="text-red-500">This reset URL is invalid.</p>
  
        {{ else }}
  
        {{ if errors }}
        <div class="">
          {{ errors }}
          {{ value }}<br>
          {{ /errors }}
        </div>
        {{ /if }}
        
        
        <input class="bg-pinkyWhite flex w-full p-[20px]" name="email" type="text" placeholder="Email" value="{{ old:email }}" required>

        <div class="relative">
          <input id="password" class="bg-pinkyWhite flex w-full p-[20px]" name="password" type="password"
            placeholder="Password" required>
          <i id="togglePassword" class="fas fa-eye absolute top-1/2 transform -translate-y-1/2 right-4"></i>
        </div>
        <div class="relative">
          <input id="confirmPassword" class="bg-pinkyWhite flex w-full p-[20px]" name="password_confirmation" type="password"
            placeholder="Confirm Password" required>
          <i id="toggleConfirmPassword" class="fas fa-eye absolute top-1/2 transform -translate-y-1/2 right-4"></i>
        </div>
        
        

      </div>
      <div class="flex justify-end items-center mt-[20px]">
        <button
          class="px-[30px] min-w-max py-[18px] font-semibold bg-darkPurple  group rounded-full text-1xs transition hover:bg-seaGreen text-white">Reset Password
        </button>
      </div>
    </div>

    {{ first_name }}

    {{ /if }}

    {{ /user:reset_password_form }}

  </div>
</div>


{{ partial:components/footer }}


<script>
  const togglePassword = document.querySelector("#togglePassword");
  const toggleConfirmPassword = document.querySelector("#toggleConfirmPassword");
  const password = document.querySelector("#password");
  const confirmPassword = document.querySelector("#confirmPassword");

  togglePassword.addEventListener("click", function () {

    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    this.classList.toggle("fa-eye-slash");
  });

  toggleConfirmPassword.addEventListener("click", function () {

    const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
    confirmPassword.setAttribute("type", type);

    this.classList.toggle("fa-eye-slash");
  });


</script>