<div class="flex flex-col gap-y-[10px] mt-[10px]">



  <!--ACCORDION ITEM-->
  <li class=" list-none rounded-lg  hover:bg-white transition" :class="open1 ? 'bg-white' : 'bg-darkerPinkyWhite'"
    x-data="{ open1: false }">

    <button type="button" class="w-full p-[40px] text-left group" x-on:click="open1 = ! open1">
      <div class="flex flex-col sm:flex-row items-center justify-between">

        <div class="flex  items-center justify-center flex-col sm:flex-row">
          <div class="flex justify-center items-center flex-col">
            <p class="text-normal font-bold text-center lg:text-left">{{ title }}</p>
          </div>
        </div>

        <!-- ICON-->
        <svg class="transition fill-current text-darkPurple mt-8 sm:mt-0 transform group-hover:scale-125"
          :class="open1 ? 'rotate-180' : 'rotate-0'" width="33" width="10" height="6" viewBox="0 0 10 6" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.78033 0.46967C10.0732 0.762563 10.0732 1.23744 9.78033 1.53033L5.78033 5.53033C5.48744 5.82322 5.01256 5.82322 4.71967 5.53033L0.71967 1.53033C0.426777 1.23744 0.426777 0.762563 0.71967 0.46967C1.01256 0.176777 1.48744 0.176777 1.78033 0.46967L5.25 3.93934L8.71967 0.46967C9.01256 0.176777 9.48744 0.176777 9.78033 0.46967Z"
            fill="#59235F" />
        </svg>


        <!-- ICON-->
      </div>
    </button>

    <div class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container1"
      x-bind:style="open1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">

      <div class="pb-[40px] px-[40px] w-full md:w-9/12  text-darkPurple flex flex-col">

        <div class="leading-twentyeight flex flex-col">
          {{ content }}
          
          {{ if type == 'text' }}
          <div class="flex flex-1 w-full flex-col">{{ text }}</div>
          {{ elseif type == 'services_modal' }}

          <div class="flex flex-col md:flex-row gap-x-[10px] gap-y-[10px]">
            {{ services_modal }}
            <!--MODAL BUTTON-->
            <div class="my-[10px] " x-data="{ 'showModal': false }" @keydown.escape="showModal = false" x-cloak>
              <button
                class="p-[16px] min-h-[130px] min-w-[130px] h-[130px] w-[130px] rounded-full border-2 hover:border-darkerPinkyWhite transition flex justify-center items-center border-pinkyWhite"
                @click="showModal = true">
                <img src="{{ logo }}{{ url }}{{ /logo }}" alt="">
              </button>
              <!--MODAL1-->
              <!--MODAL OVERLAY-->
              <div
                class="overflow-auto fixed top-0 w-screen lg:w-9/12 h-5/6 lg:h-screen inset-0 z-10 flex items-center justify-center"
                style="background-color: rgba(0,0,0,0.5)" x-show="showModal">
                <!--MODAL CONTENT-->
                <div
                  class="bg-white rounded-xl p-[40px] max-w-[480px] flex flex-col justify-center items-center relative"
                  x-show="showModal" @click.away="showModal = false" x-transition:enter="ease-out duration-300"
                  x-transition:enter-start="opacity-0 scale-90" x-transition:enter-end="opacity-100 scale-100"
                  x-transition:leave="ease-in duration-300" x-transition:leave-start="opacity-100 scale-100"
                  x-transition:leave-end="opacity-0 scale-90">
                  <div
                    class="p-[16px] min-h-[130px] min-w-[130px] h-[130px] w-[130px] mb-[20px] rounded-full border-2 group-hover:border-darkPurple transition flex justify-center items-center border-pinkyWhite">
                    <img src="{{ logo }}{{ url }}{{ /logo }}" alt="">
                  </div>
                  <div class="w-full flex flex-col items-center justify-center mb-[10px]">
                    {{ if location }}
                    <p class="flex items-center">
                      <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M3.4076 0C1.70244 0 0.315186 1.38726 0.315186 3.09241C0.315186 3.95447 0.786544 4.99567 1.71617 6.1871C2.38013 7.03805 3.03636 7.6534 3.06395 7.67918L3.40756 8L3.75114 7.67918C3.77876 7.6534 4.435 7.03805 5.09895 6.1871C6.02861 4.99567 6.49997 3.95447 6.49997 3.09241C6.50004 1.38729 5.11278 0 3.4076 0ZM3.4076 4.09289C2.85595 4.09289 2.40715 3.64409 2.40715 3.09244C2.40715 2.5408 2.85595 2.09199 3.4076 2.09199C3.95928 2.09199 4.40808 2.5408 4.40808 3.09244C4.40808 3.64409 3.95928 4.09289 3.4076 4.09289Z"
                          fill="#59235F" />
                      </svg>
                      <span class="ml-[3px] text-3xs uppercase font-bold">{{ location }}</span>
                    </p>
                    {{ /if }}
                    <p class="text-2xl font-bold my-[10px]">{{ title }}</p>

                    {{ if content }}
                    <div class="text-normal leading-twentyfive text-center">{{ content }}</div>
                    {{ /if }}
                  </div>
                  <button class="absolute top-5 right-5" @click="showModal = false">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="14" height="2" rx="1"
                        transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 5.60156 15.2997)" fill="#59235F" />
                      <rect width="2" height="14" rx="1"
                        transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 14.5996 15.2997)" fill="#59235F" />
                    </svg>
                  </button>
                </div>
              </div>
              <!--END OF //MODAL1-->
            </div>
            <!--END OF // MODAL BUTTON-->
            {{ /services_modal }}
          </div>

          {{ /if }}

          {{ /content }}

          


        </div>

      </div>
    </div>


  </li>
  <!--END OF // ACCORDION ITEM-->


</div>