<div class="p-[60px] bg-white rounded-xl mt-[40px] flex flex-col">
  
  <div>
    <span>{{ audio_description }}</span>
  </div>

  <div class="mt-[40px]">
    <button class="px-[28px] min-w-max py-[16px] font-semibold bg-seaGreen border-2 border-transparent hover:border-seaGreen hover:bg-pinkyWhite group rounded-full text-1xs transition" 
    onclick="toggleAudio()">
      <div href="/" class="text-white group-hover:text-seaGreen transition flex items-center">
        
        <audio preload="metadata" controls controlslist="nodownload">
          <source src="{{ audio }}{{ url }}{{ /audio }}" type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>

        <div class="relative  w-[29px] h-[29px] ">
          <svg class="absolute group-hover:opacity-100 transition" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_301_833)">
            <path d="M14 0.5C13.547 0.5 13.1797 0.867281 13.1797 1.32031V27.6797C13.1797 28.1327 13.547 28.5 14 28.5C14.453 28.5 14.8203 28.1327 14.8203 27.6797V1.32031C14.8203 0.867281 14.453 0.5 14 0.5Z" fill="white"/>
            <path d="M17.2812 4.71594C16.8282 4.71594 16.4609 5.08322 16.4609 5.53625V23.4636C16.4609 23.9167 16.8282 24.2839 17.2812 24.2839C17.7343 24.2839 18.1016 23.9167 18.1016 23.4636V5.53625C18.1016 5.08322 17.7343 4.71594 17.2812 4.71594Z" fill="white"/>
            <path d="M20.5625 8.45349C20.1095 8.45349 19.7422 8.82077 19.7422 9.2738V19.7263C19.7422 20.1793 20.1095 20.5466 20.5625 20.5466C21.0155 20.5466 21.3828 20.1793 21.3828 19.7263V9.2738C21.3828 8.82072 21.0155 8.45349 20.5625 8.45349Z" fill="white"/>
            <path d="M23.8438 10.4655C23.3907 10.4655 23.0234 10.8327 23.0234 11.2858V17.7142C23.0234 18.1672 23.3907 18.5345 23.8438 18.5345C24.2968 18.5345 24.6641 18.1672 24.6641 17.7142V11.2858C24.6641 10.8327 24.2968 10.4655 23.8438 10.4655Z" fill="white"/>
            <path d="M27.125 12.1061C26.672 12.1061 26.3047 12.4734 26.3047 12.9264V16.0735C26.3047 16.5266 26.672 16.8939 27.125 16.8939C27.578 16.8939 27.9453 16.5266 27.9453 16.0735V12.9264C27.9453 12.4734 27.578 12.1061 27.125 12.1061Z" fill="white"/>
            <path d="M10.7188 4.71594C10.2657 4.71594 9.89844 5.08322 9.89844 5.53625V23.4636C9.89844 23.9167 10.2657 24.2839 10.7188 24.2839C11.1718 24.2839 11.5391 23.9167 11.5391 23.4636V5.53625C11.5391 5.08322 11.1718 4.71594 10.7188 4.71594Z" fill="white"/>
            <path d="M7.4375 8.45349C6.98447 8.45349 6.61719 8.82077 6.61719 9.2738V19.7263C6.61719 20.1793 6.98447 20.5466 7.4375 20.5466C7.89053 20.5466 8.25781 20.1793 8.25781 19.7263V9.2738C8.25781 8.82072 7.89053 8.45349 7.4375 8.45349Z" fill="white"/>
            <path d="M4.15625 10.4655C3.70322 10.4655 3.33594 10.8327 3.33594 11.2858V17.7142C3.33594 18.1672 3.70322 18.5345 4.15625 18.5345C4.60928 18.5345 4.97656 18.1672 4.97656 17.7142V11.2858C4.97656 10.8327 4.60928 10.4655 4.15625 10.4655Z" fill="white"/>
            <path d="M0.875 12.1061C0.421969 12.1061 0.0546875 12.4734 0.0546875 12.9264V16.0735C0.0546875 16.5266 0.421969 16.8939 0.875 16.8939C1.32803 16.8939 1.69531 16.5266 1.69531 16.0735V12.9264C1.69531 12.4734 1.32803 12.1061 0.875 12.1061Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_301_833">
            <rect width="28" height="28" fill="white" transform="translate(0 0.5)"/>
            </clipPath>
            </defs>
            </svg>
            <svg class="absolute opacity-0 group-hover:opacity-100 transition" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_301_833)">
              <path d="M14 0.5C13.547 0.5 13.1797 0.867281 13.1797 1.32031V27.6797C13.1797 28.1327 13.547 28.5 14 28.5C14.453 28.5 14.8203 28.1327 14.8203 27.6797V1.32031C14.8203 0.867281 14.453 0.5 14 0.5Z" fill="#015C71"/>
              <path d="M17.2812 4.71594C16.8282 4.71594 16.4609 5.08322 16.4609 5.53625V23.4636C16.4609 23.9167 16.8282 24.2839 17.2812 24.2839C17.7343 24.2839 18.1016 23.9167 18.1016 23.4636V5.53625C18.1016 5.08322 17.7343 4.71594 17.2812 4.71594Z" fill="#015C71"/>
              <path d="M20.5625 8.45349C20.1095 8.45349 19.7422 8.82077 19.7422 9.2738V19.7263C19.7422 20.1793 20.1095 20.5466 20.5625 20.5466C21.0155 20.5466 21.3828 20.1793 21.3828 19.7263V9.2738C21.3828 8.82072 21.0155 8.45349 20.5625 8.45349Z" fill="#015C71"/>
              <path d="M23.8438 10.4655C23.3907 10.4655 23.0234 10.8327 23.0234 11.2858V17.7142C23.0234 18.1672 23.3907 18.5345 23.8438 18.5345C24.2968 18.5345 24.6641 18.1672 24.6641 17.7142V11.2858C24.6641 10.8327 24.2968 10.4655 23.8438 10.4655Z" fill="#015C71"/>
              <path d="M27.125 12.1061C26.672 12.1061 26.3047 12.4734 26.3047 12.9264V16.0735C26.3047 16.5266 26.672 16.8939 27.125 16.8939C27.578 16.8939 27.9453 16.5266 27.9453 16.0735V12.9264C27.9453 12.4734 27.578 12.1061 27.125 12.1061Z" fill="#015C71"/>
              <path d="M10.7188 4.71594C10.2657 4.71594 9.89844 5.08322 9.89844 5.53625V23.4636C9.89844 23.9167 10.2657 24.2839 10.7188 24.2839C11.1718 24.2839 11.5391 23.9167 11.5391 23.4636V5.53625C11.5391 5.08322 11.1718 4.71594 10.7188 4.71594Z" fill="#015C71"/>
              <path d="M7.4375 8.45349C6.98447 8.45349 6.61719 8.82077 6.61719 9.2738V19.7263C6.61719 20.1793 6.98447 20.5466 7.4375 20.5466C7.89053 20.5466 8.25781 20.1793 8.25781 19.7263V9.2738C8.25781 8.82072 7.89053 8.45349 7.4375 8.45349Z" fill="#015C71"/>
              <path d="M4.15625 10.4655C3.70322 10.4655 3.33594 10.8327 3.33594 11.2858V17.7142C3.33594 18.1672 3.70322 18.5345 4.15625 18.5345C4.60928 18.5345 4.97656 18.1672 4.97656 17.7142V11.2858C4.97656 10.8327 4.60928 10.4655 4.15625 10.4655Z" fill="#015C71"/>
              <path d="M0.875 12.1061C0.421969 12.1061 0.0546875 12.4734 0.0546875 12.9264V16.0735C0.0546875 16.5266 0.421969 16.8939 0.875 16.8939C1.32803 16.8939 1.69531 16.5266 1.69531 16.0735V12.9264C1.69531 12.4734 1.32803 12.1061 0.875 12.1061Z" fill="#015C71"/>
              </g>
              <defs>
              <clipPath id="clip0_301_833">
              <rect width="28" height="28" fill="#015C71" transform="translate(0 0.5)"/>
              </clipPath>
              </defs>
              </svg>
        </div> 
        <span id="audioText" class="ml-4 text-white group-hover:text-seaGreen transition">Play Audio</span>
        <span class="duration ml-2 text-white"></span>
      </div>
    </button>



  </div>
</div>


<script>
  const audio = document.querySelector('audio');
const audioDuration = document.querySelector('.duration');

let isPlaying = false;
let audioText = document.getElementById('audioText');

const toggleAudio = (event) => {
	if (isPlaying) {
		audio.pause()
		isPlaying = false
    audioText.innerHTML = 'Play Audio';
	} else {
		audio.play()
		isPlaying = true
    audioText.innerHTML = 'Pause Audio';
	}
}

audio.onloadedmetadata = () => {
	let minutes = Math.floor(audio.duration / 60)
	let seconds = Math.floor(audio.duration - minutes * 60)
	audioDuration.innerHTML = `${minutes}:${seconds}`
}
</script>