<blockquote class="pt-[80px] md:pt-[40px] pl-[40px] pb-[40px] pr-[40px] md:pr-[112px] text-darkPurple bg-white relative my-[20px] rounded-xl">
  <strong>For many people, becoming homeless is not the beginning of their problems;</strong>
  <span>it comes at the end of a long line of crises, a long line of interactions with public and voluntary sector services, a long line of missed opportunities.</span>
  <img src="/assets/icons/quotes.svg" alt="" class="absolute top-[20px] right-[20px] md:top-[40px] md:right-[40px]">
</blockquote>