<div style="background-image: url('{{ hero_banner }}{{ url }}{{ /hero_banner }}'); background-size: cover; background-repeat: no-repeat; background-position:center;"  
class="h-[200px] lg:h-[360px] w-full lg:w-9/12 relative">
</div>

<div class="trainingWrapper w-full pb-[40px] pt-[37px] lg:pt-[18px] relative mt-[5px] lg:mt-[3px] mb-20 sm:mb-0">
  

  <div class="absolute transform -translate-y-24 lg:-translate-y-24 left-10 lg:left-20">
    
    <p style="width:fit-content;" class="bg-darkPurple text-white text-3xl lg:text-fifty font-lexia font-bold uppercase px-[10px]">
      {{ title }}
    </p>

    <p style="width:fit-content;" class="bg-darkPurple text-white text-3xl lg:text-fifty font-lexia font-bold uppercase px-[10px]">
      {{ title_line_2 }}
    </p>

  </div>
  
</div>