<div class="mt-[40px] flex flex-col gap-y-[20px]">

  {{ questions }}
  <!--QUESTIONNAIR BLOCK-->
  <div class="p-[20px] md:p-[60px] bg-darkerPinkyWhite hover:bg-white transition rounded-xl">

    <p>{{ index | add:1 }}. {{ question }}</p>

    <div class="container">
      
      <div class="questionnaire_radio_container">
        {{ option_choices }}
        <input class="questionnaireRadio" type="radio" id="{{ option }}{{ uuid }}" name="{{ uuid }}">
          <label for="{{ option }}{{ uuid }}">{{ option }}</label>
        {{ /option_choices }}
      </div>

      <div class="hidden w-full flex justify-between mt-[10px] uppercase text-2xs px-[15px]">
        <span>Disagree</span>
        <span>Strongly Agree</span>
      </div>
  </div>

  </div>
  <!--END OF // QUESTIONNAIR BLOCK-->
  {{ /questions }}





</div>