<!--SIDEBAR FOOTER-->
<div class="fixed z-50 bottom-0 w-full lg:w-4/12 bg-white px-[20px] py-[20px] flex flex-col-reverse lg:flex-col -ml-8 transform translate-x-[2px] lg:gap-y-[20px]">

  <div class="justify-between hidden lg:flex">
    <span class="font-acumin uppercase text-2xs ">Your Progress</span>
    <span class="font-acumin text-2xs">0%</span>
  </div>

  <div class="flex items-center justify-between gap-x-[10px] mt-[20px] lg:mt-0">
    <div class="h-[14px] w-full bg-pinkyWhite rounded-full relative">
      <div class="h-[14px] w-2/12 bg-darkPurple rounded-full absolute"></div>
    </div>
    <span class="font-acumin text-normal flex lg:hidden">0%</span>
  </div>

  <div class="flex items-center gap-x-[10px]">
    
      <!--NAV ICON-->
      <button id="footerNavBtn" class="flex lg:hidden  transition bg-pinkyWhite rounded-full w-[50px] h-[50px] group">
        <div class="openIcon flex flex-col justify-center items-center gap-y-[6px] rounded-full w-[50px] h-[50px]">
          <div class="w-[20px] h-[2px] bg-darkPurple transition rounded-full"></div>
          <div class="w-[10px] h-[2px] bg-darkPurple transition rounded-full"></div>
          <div class="w-[20px] h-[2px] bg-darkPurple transition rounded-full"></div>
        </div>
        <div class="closeIcon hidden flex bg-darkPurple flex-col justify-center items-center gap-y-[12px] rounded-full w-[50px] h-[50px]">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="2" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 8.63604 22.7782)" fill="white"/>
            <rect width="2" height="20" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 21.364 22.7782)" fill="white"/>
          </svg>            
        </div>
      </button>
      <!--END OF // NAV ICON-->

    <button class="md:px-[30px] min-w-max md:w-1/2 flex-1 py-[18px] font-semibold bg-darkPurple hover:bg-seaGreen group rounded-full text-1xs transition">
      <a href="/" class="text-white  transition">Previous</a>
    </button>
    <button class="md:px-[30px] min-w-max md:w-1/2 flex-1 py-[18px] font-semibold bg-seaGreen  hover:bg-darkPurple group rounded-full text-1xs transition">
      <a href="/" class="text-white">Next</a>
    </button>
  </div>

</div>
<!--END OF// SIDEBAR FOOTER-->

<script> 
  $('#footerNavBtn').click(function () {
    $('.trainingNav').toggleClass('hidden').toggleClass('bg-darkPurple');
    $('.openIcon').toggleClass('hidden');
    $('.closeIcon').toggleClass('hidden');
  })
</script>