<div class="fixed z-40 right-0  h-0 w-full lg:w-4/12 lg:bg-darkPurple px-[30px] pb-[50px] ">

  <div class="trainingNav hidden lg:block fixed z-40 right-0 h-screen w-full lg:w-4/12 lg:bg-darkPurple px-[30px] pb-[50px]">
    <div class="fixed">
    
        {{ partial:trainingComponents/trainingToolNavBtn }}

      <div class="mt-[40px] lg:mt-[80px] w-10/12">
        <p class="text-twentyEight uppercase font-bold text-white font-lexia leading-thirtyfive">{{ parent:parent:title }}</p>
      </div>
      <div class="flex items-center mt-[20px] opacity-50">
        <div
          class="rounded-full border-2 bg-pinkyWhite w-[40px] h-[40px] p-[6px] mr-2 ">
          <img src="/assets/logos/miniLogo.png" alt="" class="object-contain w-full h-full">
        </div>
        <span class="text-2xs  text-white">By Homelessness Prevention Forum</span>
      </div>
    </div>
    <div class="flex flex-col gap-y-[10px] mt-[200px] lg:mt-[240px] pt-[40px] pb-[440px] h-screen overflow-y-auto">

      {{ nav:collection:courses from="{ courseURI }"}}
      {{ partial:trainingComponents/sideBarSections}}
      {{ /nav:collection:courses }}
      
    </div>
  </div>



  {{ partial:trainingComponents/sideBarFooter }}

</div>



