<div class="mt-[40px] flex justify-center flex-wrap gap-x-[40px] gap-y-[40px] md:gap-y-[60px]">
  

  <span id="speechBubblesCount" class="hidden">{{ speech_bubbles | count }}</span>

  {{ speech_bubbles }}
  <!--SPEECH BUBBLE-->

  <div class="speechBubble flex justify-center drop-shadow-xl items-start">
    <div class="bg-white innerSpeechBubble rounded-xl max-w-[320px] p-[30px] flex justify-center relative items-center text-center">

      {{ content }}

      {{ if include_bubble_tail }}
      <svg class="absolute right-1/2 translate-x-1/2  -bottom-6" width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.5 0H21.5L0.5 24V0Z" fill="white"/>
        </svg>
        {{ /if }}

    </div>
  </div>
  <!--END OF // SPEECH BUBBLE-->
  {{ /speech_bubbles }}



</div>

<script>

  const speechBubblesElement = document.getElementById('speechBubblesCount');
  const speechBubble = document.getElementsByClassName('speechBubble');
  const innerSpeechBubble = document.getElementsByClassName('innerSpeechBubble');
  const speechBubblesTotalCount = Number(speechBubblesElement.textContent);

  
  if (speechBubblesTotalCount == 1) {

    $(speechBubble).css({width: "100%"});
    $(innerSpeechBubble).css({width: "100%"}).removeClass('max-w-[320px]');

  } else if (speechBubblesTotalCount == 2) {

    $(speechBubble).css({width: "46%"});
    $(innerSpeechBubble).css({width: "100%"}).removeClass('max-w-[320px]');

  }
  console.log(speechBubblesTotalCount);
</script>