
        {{ nav:collection:courses :from="uri"  }}
    {{title}}
    {{ /nav:collection:courses }}
    fdbdfbdfbdf
    {{ collection:next in="courses" :from="uri" as="posts" limit="2" }}
 
    {{ if no_results }}
      No more posts to read!
    {{ /if }}
   
    {{ posts }}
      <div class="post">
        <a href="{{ url }}">{{ title }}</a> dfdfvdfv
      </div>
    {{ /posts }}
   
  {{ /collection:next }}