

      <div class="trainingWrapper w-full lg:w-8/12 pt-[20px] lg:pt-[40px] pb-[160px] lg:pb-[40px]">
      
      {{ training_tool_general_content }}
      
        {{ if type == 'text' }}
        <div class="leading-thirty w-8/12">{{ text }}</div>
        {{ elseif type == '3_col_hover_blocks' }}
        {{ partial:trainingComponents/3ColBlocks }}
        {{ elseif type == '4_col_hover_blocks' }}
        {{ partial:trainingComponents/4ColBlocks }}
        {{ elseif type == 'audio' }}
        {{ partial:trainingComponents/audio }}
        {{ elseif type == 'video' }}
        {{ partial:trainingComponents/video }}
        {{ elseif type == 'image' }}
        {{ partial:trainingComponents/image }}
        {{ elseif type == 'questionnaire' }}
        {{ partial:trainingComponents/questionnaire }}
        {{ elseif type == 'speech_bubbles' }}
        {{ partial:trainingComponents/speechBubbles }}
        {{ elseif type == 'accordion' }}
        {{ partial:trainingComponents/accordion }}
        {{ elseif type == 'blockquote' }}
        <div class="w-9/12">{{ partial:trainingComponents/blockquote }}</div>
        {{ /if }}
      
      {{ /training_tool_general_content }}

    
    
      </div>