<div class="fixed top-[10px] right-[10px] z-50" x-data="{ isOpen: false}">
  <button id="trainingNavBtn" class="flex transition bg-darkPurple rounded-full w-[50px] h-[50px]"
    @click="isOpen = !isOpen">
    <div
      class="trainingNavOpenIcon flex flex-col justify-center items-center gap-y-[6px] rounded-full w-[50px] h-[50px] hover:gap-y-[10px] transition" :class="isOpen ? 'hidden' : 'flex'">
      <div class="w-[20px] h-[2px] bg-white transition rounded-full"></div>
      <div class="w-[10px] h-[2px] bg-white transition rounded-full"></div>
      <div class="w-[20px] h-[2px] bg-white transition rounded-full"></div>
    </div>
    
    <div
      class="trainingNavCloseIcon  bg-darkPurple flex-col justify-center items-center gap-y-[12px] rounded-full w-[50px] h-[50px]" :class="isOpen ? 'flex' : 'hidden'">
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="2" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 8.63604 22.7782)"
          fill="white" />
        <rect width="2" height="20" rx="1" transform="matrix(0.707107 -0.707107 -0.707107 -0.707107 21.364 22.7782)"
          fill="white" />
      </svg>
    </div>

    <!--DROP DOWN MENU-->
    <ul x-show="isOpen" @click.away="isOpen = false"
          class="absolute right-0 top-[60px] bg-white drop-shadow-xl p-[20px] min-w-[240px] rounded-lg {{ if logged_out }}flex flex-col-reverse{{ /if }}">
          <li class="mb-2 group">
            <a href="/"
              class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
              <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                  fill="#59235F" />
                <path
                  d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                  fill="#59235F" />
              </svg>
              
              <span class="mr-2 transform transition group-hover:translate-x-2">Vist Website</span>
            </a>
          </li>
          {{ if logged_out }}
          <li class="mb-2 group">
            <a href="/register"
              class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
              <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                  fill="#59235F" />
                <path
                  d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                  fill="#59235F" />
              </svg>
              
              <span class="mr-2 transform transition group-hover:translate-x-2">Register</span>
            </a>
          </li>
          {{ /if }}
          <li class="mb-2 group">

            {{ if logged_out }} 
              <a href="/login"
                class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
                <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                  viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                    fill="#59235F" />
                  <path
                    d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                    fill="#59235F" />
                  <path
                    d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                    fill="#59235F" />
                  <path
                    d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                    fill="#59235F" />
                </svg>
                <span class="mr-2 transform transition group-hover:translate-x-2">
                  Login 
                </span>
              </a>
            {{ else }} 
              <a href="{{ user:logout_url }}" id="logoutbutton"
              class=" p-[20px] min-w-max transition group group-hover:bg-pinkyWhite rounded-full font-bold flex items-center">
              <svg class="mr-2 transform -rotate-45 group-hover:rotate-0 transition" width="19" height="16"
                viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.171 15.5258C10.952 15.7448 10.597 15.7448 10.3781 15.5258C10.1591 15.3068 10.1591 14.9519 10.3781 14.7329L17.5142 7.59678C17.7332 7.37782 18.0882 7.37782 18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968L11.171 15.5258Z"
                  fill="#59235F" />
                <path
                  d="M1.79295 8.56733C1.4833 8.56733 1.23228 8.31632 1.23228 8.00667C1.23228 7.69702 1.4833 7.446 1.79295 7.446L17.4916 7.446C17.8013 7.446 18.0523 7.69702 18.0523 8.00667C18.0523 8.31632 17.8013 8.56733 17.4916 8.56733L1.79295 8.56733Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678C18.5261 7.81573 18.5261 8.17073 18.3071 8.38968C18.0881 8.60863 17.7332 8.60866 17.5142 8.3897L10.3781 1.25358C10.1591 1.03463 10.1591 0.679635 10.3781 0.460681C10.597 0.241727 10.952 0.241727 11.171 0.460681L18.3071 7.59678Z"
                  fill="#59235F" />
                <path
                  d="M18.3071 7.59678L18.4839 7.42L18.3071 7.59678ZM17.4916 8.56733L17.4916 8.81733L17.4916 8.56733ZM17.4916 7.446L17.4916 7.696L17.4916 7.446ZM1.79295 7.446L1.79295 7.196L1.79295 7.196L1.79295 7.446ZM1.79295 8.56733L1.79295 8.31733L1.79295 8.56733ZM11.171 0.460681L10.9942 0.637457L10.9942 0.637458L11.171 0.460681ZM10.5549 14.9097L17.691 7.77355L17.3374 7.42L10.2013 14.5561L10.5549 14.9097ZM18.1303 8.2129L10.9942 15.349L11.3478 15.7026L18.4839 8.56646L18.1303 8.2129ZM18.1303 7.77355C18.2517 7.89488 18.2517 8.09158 18.1303 8.2129L18.4839 8.56646C18.8005 8.24987 18.8005 7.73659 18.4839 7.42L18.1303 7.77355ZM17.691 7.77355C17.8123 7.65223 18.009 7.65223 18.1303 7.77355L18.4839 7.42C18.1673 7.10341 17.654 7.10342 17.3374 7.42L17.691 7.77355ZM10.5549 15.349C10.4335 15.2277 10.4335 15.031 10.5549 14.9097L10.2013 14.5561C9.88472 14.8727 9.88472 15.386 10.2013 15.7026L10.5549 15.349ZM10.2013 15.7026C10.5179 16.0192 11.0312 16.0192 11.3478 15.7026L10.9942 15.349C10.8729 15.4703 10.6762 15.4703 10.5549 15.349L10.2013 15.7026ZM1.79295 7.696L17.4916 7.696L17.4916 7.196L1.79295 7.196L1.79295 7.696ZM17.4916 8.31733L1.79295 8.31733L1.79295 8.81733L17.4916 8.81733L17.4916 8.31733ZM17.8023 8.00667C17.8023 8.17824 17.6632 8.31733 17.4916 8.31733L17.4916 8.81733C17.9393 8.81733 18.3023 8.45439 18.3023 8.00667L17.8023 8.00667ZM17.4916 7.696C17.6632 7.696 17.8023 7.83509 17.8023 8.00667L18.3023 8.00667C18.3023 7.55895 17.9393 7.196 17.4916 7.196L17.4916 7.696ZM1.48228 8.00667C1.48228 7.83509 1.62137 7.696 1.79295 7.696L1.79295 7.196C1.34523 7.196 0.982282 7.55895 0.982281 8.00667L1.48228 8.00667ZM0.982281 8.00667C0.982282 8.45439 1.34523 8.81733 1.79295 8.81733L1.79295 8.31733C1.62137 8.31733 1.48228 8.17824 1.48228 8.00667L0.982281 8.00667ZM17.691 8.21293L10.5549 1.07681L10.2013 1.43036L17.3374 8.56648L17.691 8.21293ZM10.9942 0.637458L18.1303 7.77355L18.4839 7.42L11.3478 0.283904L10.9942 0.637458ZM10.5549 0.637457C10.6762 0.516135 10.8729 0.516134 10.9942 0.637457L11.3478 0.283904C11.0312 -0.032681 10.5179 -0.0326811 10.2013 0.283904L10.5549 0.637457ZM10.5549 1.07681C10.4335 0.955484 10.4335 0.75878 10.5549 0.637457L10.2013 0.283904C9.88473 0.60049 9.88473 1.11378 10.2013 1.43036L10.5549 1.07681ZM18.1303 8.2129C18.009 8.33424 17.8123 8.33424 17.691 8.21293L17.3374 8.56648C17.654 8.88308 18.1673 8.88303 18.4839 8.56646L18.1303 8.2129Z"
                  fill="#59235F" />
              </svg>
              <span class="mr-2 transform transition group-hover:translate-x-2">
                Logout 
              </span>
            </a>
            {{ /if }}




          </li>

 
        </ul>
    <!--END OF // DROP DOWN MENU-->

  </button>




</div>

<script>
  $('#logoutbutton').click(function(){
    if (localStorage.length > 0 ) {
      localStorage.clear();
  }
});
</script>

