

<div class="relative mt-[40px]">

  <div class="mb-[40px] gap-y-[20px] flex flex-col md:flex-row justify-between items-center">
    <div>
      <span class="text-1xl">{{ video_description }}</span>
    </div>
    {{ if video_length }}
    <div class="flex items-center">
      <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_238_1354)">
          <path
            d="M7 14.5C10.8593 14.5 14 11.3593 14 7.5C14 3.64067 10.8594 0.5 7 0.5C3.14063 0.5 0 3.64067 0 7.5C0 11.3593 3.14067 14.5 7 14.5ZM7 1.43332C10.346 1.43332 13.0667 4.15398 13.0667 7.5C13.0667 10.846 10.346 13.5667 7 13.5667C3.65398 13.5667 0.933318 10.846 0.933318 7.5C0.933318 4.15398 3.65401 1.43332 7 1.43332Z"
            fill="#59235F" />
          <path
            d="M9.04165 9.73071C9.128 9.8007 9.23063 9.83339 9.33331 9.83339C9.47098 9.83339 9.60631 9.77272 9.69729 9.65839C9.8583 9.45772 9.82561 9.16372 9.62497 9.00271L7.46664 7.27604V3.76671C7.46664 3.51004 7.25665 3.30005 6.99998 3.30005C6.74331 3.30005 6.53333 3.51004 6.53333 3.76671V7.50006C6.53333 7.6424 6.59867 7.77539 6.70832 7.86404L9.04165 9.73071Z"
            fill="#59235F" />
        </g>
        <defs>
          <clipPath id="clip0_238_1354">
            <rect width="14" height="14" fill="white" transform="translate(0 0.5)" />
          </clipPath>
        </defs>
      </svg>
      <small class="ml-2">{{ video_length }}</small>
    </div>
    {{ /if }}
  </div>



  {{ if video }}
  <video id="video" width="100%" controls preload="metadata">
    <source src="{{ video }}{{ url }}{{ /video }}" >
  </video>
  {{ /if }}

  {{ if video_link }}
  {{ if video_link | is_embeddable }}
    <!-- Youtube and Vimeo -->
    <div class="videoWrapper">
      <iframe id="video" width="100%" height="100%" controls preload="metadata" src="{{ video_link | embed_url }}" ...></iframe>
        {{ else }}
        <!-- Other HTML5 video types -->
        <video id="video" width="100%" height="100%" controls preload="metadata" src="{{ video_link | embed_url }}" ...></video>
    </div>
  {{ /if }}
  {{ /if }}

  {{ if !video_link }}
  <button id="playBtn" class="w-full hidden md:flex h-3/6 md:h-5/6 absolute md:top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -mt-4 transition">
    <svg class="w-[90px] h-[90px] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"  viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="45" cy="45" r="45" fill="#59235F"/>
      <path d="M60.5 42.4019C62.5 43.5566 62.5 46.4434 60.5 47.5981L39.5 59.7224C37.5 60.8771 35 59.4338 35 57.1244V32.8756C35 30.5662 37.5 29.1229 39.5 30.2776L60.5 42.4019Z" fill="white"/>
      </svg>
  </button>
    
  <button id="pauseBtn" class="absolute text-white bottom-[35px] left-[12px] w-6 h-6"></button>
  {{ /if }}
</div>

<script>
  var playButton = document.getElementById("playBtn");
  var pauseButton = document.getElementById("pauseBtn");

playButton.addEventListener("click", function() {
  if (video.paused == true) {
    video.play();
    playButton.style.opacity = "0";
  } else if (video.paused == false) {
    video.pause();
    playButton.style.opacity = "100%";
  }
});

pauseButton.addEventListener("click", function() {
  if (video.paused == true) {
    video.play();
    playButton.style.opacity = "0";
  } else if (video.paused == false) {
    video.pause();
    playButton.style.opacity = "100%";
  }
});






</script>