<template>
  <div class="bg-pinkyWhite py-32 relative">
    <ResultsHeader
      ref="resultsHeader"
      :total="total"
      :completed="completed"
      @fetch-data="updateResultsHeaderData"
    />

    <!-- Add the overlay div here -->
    <div v-if="isLoading" class="overlay">
      <img src="/assets/icons/loading.gif"/>
    </div>

    <div class="wrapper">
      <div class="flex flex-col w-full pt-20">
        <div v-for="(dataquest, questionKey) in entries.results_data">
          <Question
            :key="questionKey"
            :question="questionKey"
            :label_left="dataquest.label_left"
            :label_right="dataquest.label_right"
            :option_choices="getOptions(dataquest.before)"
            :answers_before="objectToArray(dataquest.before)"
            :answers_after="objectToArray(dataquest.after)"
            v-if="dataquest.before"
          />
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import ResultsHeader from "./resultsComponents/ResultsHeader.vue";
import Question from "./resultsComponents/Question.vue";

export default {
  name: "App",
  components: {
    ResultsHeader,
    Question
  },
  data() {
    return {
      entries: {},
      total: 0,
      completed: 0,
      chartInstances: [],
      isLoading: false,
    };
  },

  watch: {
    entries: {
      handler(newValue) {
        if (newValue.total_entries !== undefined && newValue.total_completed !== undefined) {
          this.total = newValue.total_entries;
          this.completed = newValue.total_completed;
        }
      },
      deep: true,
    },
  },

  methods: {
    objectToArray(obj) {
      return Object.entries(obj).map(([key, value]) => ({ key, value }));
    },

    getOptions(obj) {
      return Object.keys(obj);
    },



async updateResultsHeaderData(dateRange) {
  this.isLoading = true;

  // Destroy all existing chart instances
  for (const instance of this.chartInstances) {
    instance.destroy();
  }
  this.chartInstances = [];

  // Wait for a few seconds to ensure that all instances are destroyed
  await new Promise(resolve => setTimeout(resolve, 5000));

  // Fetch the new data and generate the charts
  await this.fetchFilteredEntries(dateRange);

  const chartGenerationPromises = [];
  for (const dataquest of Object.values(this.entries.results_data)) {
    if (dataquest.before) {
      chartGenerationPromises.push(this.generateChart(dataquest));
    }
  }
  
  await Promise.all(chartGenerationPromises);
  this.isLoading = false;
},






    async fetchEntries() {
      try {
        const res = await fetch("/results/formdata");
        const responseData = await res.json();
        return responseData;
      } catch (e) {
        console.log("ERRORS: ", e);
      }
    },

    async fetchFilteredEntries(dateRange) {
  try {
    const res = await fetch(`/results/formdata?start_date=${dateRange.startDate}&end_date=${dateRange.endDate}`);
    console.log("res: ", res);
    const responseData = await res.json();
    this.entries = responseData;
  } catch (e) {
    console.error("Error fetching filtered entries:", e);
  } finally {
    this.isLoading = false;
  }
},
  },

  async created() {
    this.entries = await this.fetchEntries();
    this.total = this.entries.total_entries;
    this.completed = this.entries.total_completed;
  },
};
</script>
<style scoped>
.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 100;
  img{
    width: 100px;
  }
}
</style>
