@import "tailwindcss/base";
@import "site";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../node_modules/video-react/dist/video-react.css"; 


p, strong, span, small, a {
  @apply text-darkPurple;
}

html, body {
  @apply overflow-x-hidden bg-pinkyWhite;
}

[x-cloak] {
  display: none;
}

.link-underline {
  position: relative;
  text-decoration: none;
}

.link-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #59235F;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-underline:hover::before {
  transform: scaleX(1);
}



.wrapper {
  max-width: 2000px;
  margin: auto;
  @apply px-[5vw] xl:px-[168px];
}

.trainingWrapper {
  @apply px-[40px] lg:px-[80px];
}



.transition {
  @apply transition-all duration-500 ease-in-out;
}

.bg-gradient {
  background: rgb(125,61,133);
}


h1 {
  @apply font-lexia text-3xl leading-fortysix  md:text-6xl md:leading-sixtyfive lg:text-largestTitle text-darkPurple font-extrabold uppercase lg:leading-ninety;
}

h2 {
  @apply font-lexia text-3xl leading-fortysix md:text-6xl text-darkPurple font-extrabold uppercase md:leading-sixtyfive;
}

h3 {
  @apply font-lexia text-3xl leading-fortysix break2:text-5xl text-darkPurple font-extrabold uppercase break2:leading-seventy;
}

h4 {
  @apply font-lexia text-3xl leading-fortysix md:text-4xl text-darkPurple font-extrabold uppercase md:leading-fortysix;
}

h5 {
  @apply font-lexia text-3xl font-extrabold uppercase leading-fortysix;
}

h6 {
  @apply font-lexia text-2xl font-extrabold uppercase leading-twentyfive;
}

p {
  @apply font-acumin;
}

/*TRAINING TOOL VIDEO*/
.videoWrapper {
  position: relative;
  padding-bottom: 53.5%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* NEWS */
.newsCard {
  width: calc(33.33% - 40px);
}

/*TRAINING COURSE CARD*/
.trainingCourseCard {
  width: calc(33.33% - 20px);
}

/* CONTACT BLOCK CARD */
.contactBlockCard {
  flex-basis: calc(50% - 40px);
}

/*SMALLER CTA*/
.smallerCTA * { 
  color: white;
}

/*ACCORDION CONTENT*/
.accordionContent p{

  p {
    @apply text-normal;
  }

 

  a {
    @apply text-seaGreen;
  }
}

.accordionContent  strong {
  @apply uppercase text-3xs font-bold mb-2;
}

/*TEXT AND IMAGE CONTENT*/
.textAndImageContent p{
  @apply text-2xl leading-thirtyfive;
}



/*NEWS CONTENT*/
.newsContent a {
  @apply text-seaGreen;
}

.newsContent img {
  margin-bottom: 30px;
  width: 100%;
}

.newsContent li {
  list-style: disc;
}



/*CONTACT*/
.contactSelect {

  @apply text-darkPurple;

  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;

  width: 100%;
  height: 100%;

  background: white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }
}

input, textarea {
  @apply placeholder-darkPurple focus:outline-none rounded;
}




/*TRAINING TOOL*/

/*QUESTIONNAIRE*/
.container {
  margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width:900px) {
      flex-direction:column;
    }
}

.questionnaire_radio_container {
  @apply gap-x-[10px];
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 9999px;
    @media only screen and (max-width:900px) {
      flex-direction:column;
      height:auto;
    }
}

.questionnaire_radio_container input[type="radio"] {
    appearance: none;
    display: none;
    
}

.questionnaire_radio_container label {
  @apply font-acumin;
  cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    text-align: center;
    border-radius: 9999px;
    min-width: calc(20% - 8px);
    overflow: hidden;
    transition: linear 0.3s;
    color: #fff;
    @media only screen and (max-width:900px) {
      padding:20px;
      margin-bottom: 10px;
      width:100%;
    }
}

.questionnaire_radio_container label:nth-of-type(1n) {
  background-color: rgba(89, 35, 95, 0.3);
}
.questionnaire_radio_container label:nth-of-type(2n) {
  background-color: rgba(73, 46, 98, 0.3);
}
.questionnaire_radio_container label:nth-of-type(3n) {
  background-color: rgba(51, 61, 103, 0.3);
}
.questionnaire_radio_container label:nth-of-type(4n) {
  background-color: rgba(31, 73, 107, 0.3);
}
.questionnaire_radio_container label:nth-of-type(5n) {
  background-color: rgba(1, 92, 113, 0.3);
}

.questionnaire_radio_container .questionnaireRadio.active + label:nth-of-type(1n) {
  background-color: rgba(89, 35, 95, 1);
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
}
.questionnaire_radio_container .questionnaireRadio.active + label:nth-of-type(2n) {
  background-color: rgba(73, 46, 98, 1);
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
}
.questionnaire_radio_container .questionnaireRadio.active + label:nth-of-type(3n) {
  background-color: rgba(51, 61, 103, 1);
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
}
.questionnaire_radio_container .questionnaireRadio.active + label:nth-of-type(4n) {
  background-color: rgba(31, 73, 107, 1);
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
}
.questionnaire_radio_container .questionnaireRadio.active + label:nth-of-type(5n) {
  background-color: rgba(1, 92, 113, 1);
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
}

/*AUDIO*/
.padding {
	text-align: center;
	padding: 50px;
}


audio {
	display: none;
}

.play-button::before,
.play-button.playing::before{
	content: '';
	display: inline-block;
	border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 12px;
	margin-right: 10px;

  border-color: transparent transparent transparent #FFF;
  transition: 100ms all ease;
  cursor: pointer;


  border-style: solid;
  border-width: 6px 0 6px 8px;
}

.play-button.playing::before {
	border-style: double;
  border-width: 0px 0 0px 8px;
}


/*SPEECH BUBBLES*/
.speechBubble {
  width: calc(33.33% - 40px);
  min-height: 150px;
  min-width:220px;

  @media only screen and (max-width:500px) {
    width: 100%;
  }
}

.speechBubble:nth-of-type(3n-1) {
  @apply justify-center items-center mt-2 sm:items-center;
  /* border border-red-500; */
}

.speechBubble:nth-of-type(6n+1) {
  @apply justify-center sm:justify-end items-center sm:items-start;
  /* border border-blue-500; */
}

.speechBubble:nth-of-type(6n-2) {
  @apply justify-center sm:justify-start items-center sm:items-start;
  /* border border-yellow-500; */
}

.speechBubble:nth-of-type(6n+3) {
  @apply justify-center sm:justify-start items-center sm:items-start;
  /* border border-green-500; */
}

.speechBubble:nth-of-type(6n) {
  @apply justify-center sm:justify-end items-center sm:items-start; 
  /* border border-black; */
}


/*certificate*/
.certReg form {
  width: 100%;
}

.general-text{
  p{
    margin-bottom: 20px;

  }
}



.video-react .video-react-big-play-button {
  font-size: 7em;
  line-height: 1.2;
  height: 90px;
  width: 90px;
  display: block;
  position: absolute;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: none;
  background-color: #59235F;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center {
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  margin-top: 0;
  margin-left: 0;
}

.video-react:hover .video-react-big-play-button,
.video-react .video-react-big-play-button:focus {
  outline: 0;
  border-color: none;
  background-color: #59235F;
  opacity: 0.75;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}

.video-react .video-react-poster {
  background-size: cover;

}

blockquote{
  @apply pt-[80px] break3:pt-[40px] pl-[40px] pb-[40px] pr-[40px] break3:pr-[112px] text-darkPurple bg-white flex flex-col gap-y-[10px] rounded relative font-bold leading-thirtyfive;
}