<template>
  <div class="p-[40px] bg-white text-darkPurple w-full mb-20" >
    <p class="text-2.4xl mb-[10px] font-bold">
      {{ question }}
    </p>


        <canvas ref="canvas" class="w-full h-[300px]" :key="canvasKey"></canvas>

 
    <div class="flex w-full justify-between mt-6">
      <p v-if="label_left" class="p-2 bg-[#EEE9EF] rounded text-black">
        {{ label_left }}
      </p>
      <p v-if="label_right" class="p-2 bg-[#EEE9EF] rounded text-black">
        {{ label_right }}
      </p>
    </div>


  </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
  name: "App",
  props: {
    question: String,
    label_left: String,
    label_right: String,
    option_choices: Array,
    answers_before: Object,
    answers_after: Object,
  },
  data: function () {
    return {
        loadChart: false,
        chartInstance: null,
        canvasKey: 0,
    }
},

watch: {
  answers_before: {
    handler(newValue) {
      if (Object.keys(newValue).length && Object.keys(this.answers_after).length) {
        this.canvasKey++; // Update the canvas key
        this.generateChart();
      }
    },
    deep: true,
  },
  answers_after: {
    handler(newValue) {
      if (Object.keys(newValue).length && Object.keys(this.answers_before).length) {
        this.canvasKey++; // Update the canvas key
        this.generateChart();
      }
    },
    deep: true,
  },
},



methods: {



  mapDataToLabels(data, labels) {
    return labels.map(label => (data.hasOwnProperty(label) ? data[label] : 0));
  },


  async generateChart() {
  // Destroy the previous chart instance, if any
  if (this.chartInstance) {
    this.chartInstance.destroy();
    this.chartInstance = null;

    // Reset the canvas element
    const canvas = this.$refs.canvas;
    const context = canvas.getContext("2d");
    context.clearRect(0, 0, canvas.width, canvas.height);
  }

  // Wait until the canvas element is available
  await this.$nextTick();

  
  const labelData = this.option_choices.filter((label) => label !== "Total");

  const answersBefore = this.answers_before;
  const answersAfter = this.answers_after;
  const beforeColour = "rgba(132, 56, 107, 1)";

  const totalBefore = answersBefore.reduce((total, item) => item.value, 0);
  const totalAfter = answersAfter.reduce((total, item) => item.value, 0);

  const answersBeforeData = answersBefore.slice(0, -1).map((item) => item.value);
  const answersAfterData = answersAfter.slice(0, -1).map((item) => item.value);


  const dataSet = [
    {
      label: `Before (${totalBefore})`,
      data: answersBeforeData,
      backgroundColor: "rgba(132, 56, 107, 1)",
    },
    {
      label: `After (${totalAfter})`,
      data: answersAfterData,
      backgroundColor: "rgba(1, 109, 142, 1)",
    },
  ];

  // Get the 2D rendering context for the canvas
  const ctx = this.$refs.canvas.getContext("2d");

  console.log("Creating chart with data and options:", {
    labels: labelData,
    datasets: dataSet,
  });

  // Create the chart instance
  const myChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: labelData,
      datasets: dataSet,
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
      plugins: {
        legend: {
          display: true,
          position: "top",
          align: "end",
          labels: {
            color: "rgba(89, 35, 95, 1)",
            boxWidth: 20,
            boxHeight: 20,
          },
        },
      },
    },
  });

  // Store the new chart instance
  this.chartInstance = myChart;
},




  answersLoaded(){
    console.log("HELLO WORLD");
    return true;
  }


},

mounted() {
  if (Object.keys(this.answers_before).length && Object.keys(this.answers_after).length) {
    this.generateChart();
  }
}

}
</script>