<template>
<div class="wrapper">

<div>
  <h4 class="mb-[20px]">The Results</h4>
  <div>Some insights into the course and how it has been recieved.</div>
</div>

<div>
  <label for="start-date">Start Date:</label>
  <input type="date" id="start-date" v-model="startDate" @change="onDateChange" />
</div>
<div>
  <label for="end-date">End Date:</label>
  <input type="date" id="end-date" v-model="endDate" @change="onDateChange" />
</div>



<div class="grid gap-x-[20px] gap-y-[20px] mt-[40px] md:grid-cols-2">

  <div class="p-[40px] bg-white text-darkPurple w-full ">
    <div class="w-full flex justify-end ">
      <svg class="fill-current darkPurple rotate-180 group-hover:rotate-45 transition" width="23" height="23" viewBox="0 0 23 23" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="20" rx="1" transform="matrix(0 1 1 0 3 0)" fill="darkPurple" />
        <rect width="2" height="30" rx="1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0.241211 21.3105)"
          fill="darkPurple" />
        <rect width="2" height="20" rx="1" transform="matrix(-1 0 0 1 23 0)" fill="darkPurple" />
      </svg>
    </div>
    <p class="text-2.4xl mb-[10px] font-bold">
      {{ total }} Participants
    </p>
    <p class="text-normal">
      A total of {{ total }} people have taken the Housing support training course
    </p>
  </div>

  <div class="p-[40px] bg-white text-darkPurple w-full ">
    <div class="w-full flex justify-end ">
      <svg class="fill-current darkPurple rotate-180 group-hover:rotate-45 transition" width="23" height="23" viewBox="0 0 23 23" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="20" rx="1" transform="matrix(0 1 1 0 3 0)" fill="darkPurple" />
        <rect width="2" height="30" rx="1" transform="matrix(0.707107 0.707107 0.707107 -0.707107 0.241211 21.3105)"
          fill="darkPurple" />
        <rect width="2" height="20" rx="1" transform="matrix(-1 0 0 1 23 0)" fill="darkPurple" />
      </svg>
    </div>
    <p class="text-2.4xl mb-[10px] font-bold">
      {{completed}} Completed
    </p>
    <p class="text-normal">
      {{completed}} of the {{ total }} have completed the course
    </p>
  </div>

</div>

</div>
</template>
<!-- ResultsHeader.vue -->
<script>
export default {
  name: "ResultsHeader",
  props: {
    total: Number,
    completed: Number,
  },
  methods: {
    onDateChange() {
      if (this.startDate && this.endDate) {
        this.$emit("fetch-data", { startDate: this.startDate, endDate: this.endDate });
      }
    },
  },
};

</script>

  
  
  