{{ partial:components/nav }}


{{ get_content from="/news" }}
{{ general_content }}
  {{ if type == "smaller_hero_banner" }}
  {{ partial:components/smallerHeroBanner }}
  {{ /if }}
{{ /general_content }}

{{ /get_content }}

<div class="wrapper py-[50px] break3:py-[100px]">



  <div class="flex flex-wrap justify-center break3:justify-start gap-x-[10px] gap-y-[10px] mb-[40px]">

    
    {{ taxonomy:news_type limit="1" scope="news_type" }}
    <a href="/news" id="showAll" class="rounded-full  min-w-max max-w-max px-[18px] py-[8px] break3:px-[30px] break3:py-[12px] hover:bg-darkPurple/[0.1] border-2 border-transparent hover:border-darkPurple group transition  
    {{ if page:slug != news_type:slug }} bg-darkPurple/[0.1] {{ else }} bg-darkPurple/[0.1] {{ /if }}">
      Show All
    </a>
    {{ /taxonomy:news_type }}



    {{ taxonomy:news_type scope="news_type" }}
    <a href="/news{{ news_type:url }}" id="{{ news_type:title }}" class="newsType rounded-full  min-w-max max-w-max px-[20px] py-[10px] break3:px-[30px] break3:py-[12px] hover:bg-darkPurple/[0.1] border-2 border-transparent hover:border-darkPurple group transition text-darkPurple newsButtons
    {{ if page:slug == news_type:slug }} bg-darkPurple {{ else }} bg-darkPurple/[0.1] {{ /if }}
    ">
      <p class="{{ if page:slug == news_type:slug }} text-white {{ else }} text-darkPurple {{ /if }}">{{ news_type:title | ucfirst}}</p>
    </a>
    {{ /taxonomy:news_type }}


  </div>

  <div class="flex flex-wrap items-stretch justify-between w-full gap-x-[40px] gap-y-[40px] ">

    {{ collection:news taxonomy:news_type="{slug}" paginate="3" as="news"}}
      {{ news }}
      {{ partial:components/newsCard }}
      {{ /news }}
    {{ /collection:news }}


  </div>

  
  <!--PAGINATION CONTROLS-->
  {{ collection:news taxonomy:news_type="{slug}" paginate="3" as="news"}}
  {{ paginate }}
  <div class=" flex justify-end gap-x-[10px] my-[40px]">

    {{ links:segments }}

            {{ first }}
                {{ if page == current_page }}
                    <li class="list-none rounded-full bg-darkPurple transition border-2 border-transparent hover:border-darkPurple group w-[50px] h-[50px] flex items-center justify-center">
                      <span class="text-white">{{ page }}</span>
                    </li>
                {{ else }}
                    <li class=" cursor-pointer list-none rounded-full bg-darkPurple/[0.1] hover:bg-white transition border-2 border-transparent hover:border-darkPurple group">
                      <a class="text-darkPurple w-[50px] h-[50px] flex justify-center items-center rounded-full" href="{{ url }}">{{ page }}</a>
                    </li>
                {{ /if }}
            {{ /first }}


            {{ last }}
                {{ if page == current_page }}
                <li class="list-none rounded-full bg-darkPurple hover:bg-white transition border-2 border-transparent hover:border-darkPurple group w-[50px] h-[50px]">
                  <span>{{ page }}</span>
                </li>
            {{ else }}
                <li class="list-none rounded-full bg-darkPurple/[0.1] hover:bg-white transition border-2 border-transparent hover:border-darkPurple group w-[50px] h-[50px]">
                  <a class="" href="{{ url }}">{{ page }}</a>
                </li>
                {{ /if }}
            {{ /last }}
 
        {{ /links:segments }}


    
    <!--PREVIOUS BUTTON-->
    {{ if prev_page }}
    <a href="{{ prev_page }}" class="rounded-full bg-white border-2 border-transparent hover:border-darkPurple transition w-[50px] h-[50px] flex items-center justify-center">
      <svg class="fill-current text-darkPurple transform rotate-90" width="20" height="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)" fill="#83388B"/>
        <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B"/>
        <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B"/>
        </svg>    
    </a>
    {{ /if }}
    <!--PREVIOUS BUTTON-->

    
    <!--NEXT BUTTON-->
    {{ if next_page }}
    <a href="{{ next_page }}" class="rounded-full bg-white border-2 border-transparent hover:border-darkPurple transition w-[50px] h-[50px] flex items-center justify-center">
      <svg class="fill-current text-darkPurple transform -rotate-90" width="20" height="20" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.78906" y="18.8579" width="2" height="20" rx="1" transform="rotate(-45 2.78906 18.8579)" fill="#83388B"/>
        <rect x="15.9072" y="1.83838" width="2" height="30" rx="1" fill="#83388B"/>
        <rect x="16.9312" y="33" width="2" height="20" rx="1" transform="rotate(-135 16.9312 33)" fill="#83388B"/>
        </svg>        
    </a>
    {{ /if }}
    <!--NEXT BUTTON-->

    

  </div>
  {{ /paginate }}
  {{ /collection:news }}
  <!--END OF // PAGINATION CONTROLS-->


</div>


{{ partial:components/footer }}






