{{ partial:emails/header_html }}
<h1>CERTIFICATE</h1>
<h3>OF COMPLETION</h3>
<div style="background-color: #EEE9EF; padding:20px; border-radius:6px; margin-top: 10px ; margin-bottom: 10px ; ">
<p style="margin-bottom: 5px;">This certificate is awarded to</p>
<h4>{{name}}</h4>
</div>

<p>For successful completion of the {{course}}</p>
<p><strong>Brought to you by the Homelessness Prevention Forum</strong></p>
<div  style="margin-top: 40px ; margin-bottom: 40px ;">
<a href="{{company_details:siteurl}} " style="background-color: #59235F; padding:20px; border-radius:100px; margin-top: 10px color: #fff;">visit website</a>
</div>
{{ partial:emails/footer_html }}

